{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<style>
  label {
    width: 230px;
  }
  .form-group {
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
    align-items: center;
  }
  .form-control {
    padding: 0;
    font-size: 12px;
  }
  .exp_date {
    padding: 0 !important;
    max-width: 14% !important;
  }
  .quantity_div {
    padding: 0 !important;
  }
  .cross_div {
    padding: 0 !important;
    max-width: 25px !important;
  }
</style>
<div class="container-fluid">
  <!-- Page Heading -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <form id="orderForm" method="POST" action="{% url 'medicine_stock_add_view' %}">
    {% csrf_token %}
    <div class="row">
      <!-- Left Column (Patient Details) -->
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <label for="department">Department:</label>
          <input type="text" class="form-control" value="{{request.session.user_role}}" disabled />
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <label for="date">Received From:</label>
          <input type="text" class="form-control" name="remarks" />
        </div>
      </div>
      <!-- Right Column (Order Details) -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" class="form-control" name="order_date" value="{% if request.session.stock_date %}{{request.session.stock_date}}{% endif %}" required />
        </div>
      </div>
    </div>

    <h3>Products</h3>
    <div id="productFields">
      <div class="row product-row">
        <!-- Middle Column (Product Details) -->
        <div class="col-md-2 exp_date">
          <div class="form-group">
            <label for="product_type" id="product_type">Product Type:</label>
            <select class="form-control" name="product_type_1" required>
              <option>Select Product Type</option>
              {% for s in unique_p_types %}
              <option value="{{s}}">{{s}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Right Column (Order Details) -->
        <div class="col-md-2 exp_date">
          <div class="form-group">
            <label for="product_name_1" id="product_name_1">Product Name:</label>
            <select class="form-control" name="product_name_1" required>
              <option>Select Product Name</option>
              {% for s in product %}
              <option value="{{s.product_type_id}}">{{s.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="col-md-2 exp_date">
          <div class="form-group">
            <label for="mfgname">Mfg. By:</label>
            <input type="text" class="form-control" name="mfgname_1" />
          </div>
        </div>

        <div class="col-md-2" style="display: none">
          <div class="form-group">
            <label for="mfgname">Product:</label>
            <input type="text" class="form-control" name="product_type_id_column_1" />
          </div>
        </div>

        <!-- Middle Column (Product Details) -->
        <div class="col-md-2 exp_date">
          <div class="form-group">
            <label for="batchno">Batch No.:</label>
            <input type="text" class="form-control" name="batchno_1" />
          </div>
        </div>

        <!-- Right Column (Order Details) -->
        <div class="col-md-2 exp_date">
          <div class="form-group">
            <label for="mfgdate">Mfg Date:</label>
            <input type="date" class="form-control" name="mfgdate_1" />
          </div>
        </div>
        <div class="col-md-2 exp_date">
          <div class="form-group">
            <label for="expdate">Exp. Date:</label>
            <input type="date" class="form-control" name="expdate_1" />
          </div>
        </div>

        <!-- Left Column (Patient Details) -->
        <div class="col-md-1 quantity_div">
          <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" name="quantity_1" required />
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="productCount" name="product_count" value="1" />

    <!-- <div class="text-center mt-3">
      <button type="button" class="btn btn-primary" id="addProductField">Add Product</button>
    </div> -->

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<!-- End of Main Content -->
{% endblock %} {% block script %}
<script></script>
<script>
  $(document).ready(function () {
    $("#department").change(function () {
      var departmentId = $(this).val();
      $.ajax({
        url: '{% url "get_doctors_by_department" %}',
        type: "GET",
        data: {
          department_id: departmentId,
        },
        success: function (data) {
          console.log(data);
          $("#doctor").empty();
          $.each(data.doctors, function (index, doctor) {
            $("#doctor").append('<option value="' + doctor.doctor_id + '">' + doctor.name + "</option>");
          });
        },
      });
    });
  });
</script>

<script>
  $("#orderForm").on("keydown", function (event) {
    if (event.keyCode === 13) {
      // Check if Enter key is pressed
      event.preventDefault(); // Prevent the default behavior of the Enter key
    }
  });

  // Function to add product fields dynamically
  // document.getElementById("addProductField").addEventListener("click", function () {
  $("#productFields").on("keyup", "input[name^='quantity']", function (event) {
    if (event.keyCode === 13) {
      // Check if Enter key is pressed
      event.preventDefault();
      var productCount = parseInt($("#productCount").val());
      productCount++;
      $("#productCount").val(productCount);
      var productFields = document.getElementById("productFields");
      var productRow = document.createElement("div");
      productRow.className = "row product-row";

      var middleColumn = document.createElement("div");
      middleColumn.className = "col-md-2 exp_date";
      middleColumn.innerHTML = `
          <div class="form-group">
            <label for="product_type_${productCount}" id="product_type_${productCount}" name="product_type">Product Type:</label>
            <select class="form-control" name="product_type_${productCount}" required>
              <option>Select Product Type</option>
              {% for s in unique_p_types %}
              <option value="{{s}}">{{s}}</option>
              {% endfor %}
            </select>
          </div>
        `;

      var rightColumn = document.createElement("div");
      rightColumn.className = "col-md-2 exp_date";
      rightColumn.innerHTML = `
          <div class="form-group">
            <label for="product_name_${productCount}" id="product_name_${productCount}" name="product_name">Product Name:</label>
            <select class="form-control" name="product_name_${productCount}" required>
              <option>Select Product Name</option>
              {% for s in product %}
              <option value="{{s.product_type_id}}">{{s.name}}</option>
              {% endfor %}
            </select>
          </div>
        `;

      var mfgColumn = document.createElement("div");
      mfgColumn.className = "col-md-2 exp_date";
      mfgColumn.innerHTML = `
          <div class="form-group">
            <label for="mfgname">Mfg. By:</label>
            <input type="text" class="form-control" name="mfgname_${productCount}"  />
          </div>
        `;

      var batchColumn = document.createElement("div");
      batchColumn.className = "col-md-2 exp_date";
      batchColumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Batch No.:</label>
            <input type="text" class="form-control" name="batchno_${productCount}"  />
          </div>
        `;

      var mfgDateColumn = document.createElement("div");
      mfgDateColumn.className = "col-md-2 exp_date";
      mfgDateColumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Mfg Date.:</label>
            <input type="date" class="form-control" name="mfgdate_${productCount}"  />
          </div>
        `;

      var expDatecolumn = document.createElement("div");
      expDatecolumn.className = "col-md-2 exp_date";
      expDatecolumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Exp Date.:</label>
            <input type="date" class="form-control" name="expdate_${productCount}"  />
          </div>
        `;

      var quantityColumn = document.createElement("div");
      quantityColumn.className = "col-md-1 quantity_div";
      quantityColumn.innerHTML = `
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" class="form-control" name="quantity_${productCount}" required />
        </div>
      `;

      var removeButton = document.createElement("div");
      removeButton.className = "col-md-1 cross_div";
      removeButton.innerHTML = `
      <div class="form-group">
          <label for="">&nbsp;</label>
          <button type="button" class="btn btn-danger remove-product">x</button>
      </div>
    `;

      productRow.appendChild(middleColumn);
      productRow.appendChild(rightColumn);
      productRow.appendChild(mfgColumn);
      productRow.appendChild(batchColumn);
      productRow.appendChild(mfgDateColumn);
      productRow.appendChild(mfgDateColumn);
      productRow.appendChild(expDatecolumn);
      productRow.appendChild(quantityColumn);
      productRow.appendChild(removeButton);

      productFields.appendChild(productRow);
    }
  });

  // Function to remove product fields
  document.addEventListener("click", function (event) {
    if (event.target.classList.contains("remove-product")) {
      var productCount = parseInt($("#productCount").val());
      productCount--;
      $("#productCount").val(productCount);
      event.target.closest(".product-row").remove();
    }
  });
</script>

<script>
  $(document).ready(function () {
    // Event delegation for product type select elements
    $("#productFields").on("change", "select[name^='product_type']", function () {
      var productType = $(this).val();
      var container = $(this).closest(".product-row");
      var productNameSelect = container.find("select[name^='product_name']");

      $.ajax({
        url: '{% url "get_product_names_by_type" %}',
        type: "GET",
        data: {
          product_type: productType,
        },
        success: function (data) {
          productNameSelect.empty();
          $.each(data.products, function (index, product) {
            productNameSelect.append('<option value="' + product.product_type_id + '">' + product.name + "</option>");
          });
        },
      });
    });
  });
</script>
{% endblock %}
