{% extends 'counter/base.html' %} {% block css %}
<!-- CSS for Select2 -->
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <div style="display: flex"></div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form action="{% url 'get_consumption_and_remaining_quantity' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>

        <div style="flex: 3">
          <select class="form-control" name="product_name" id="product_name">
            <option value="">Select Medicine Name</option>
            <option selected value="All">All</option>
            {% for s in productsupply %}
            <option {% if department == s.productdetails_id %}selected{% endif %} value="{{ s.productdetails_id }}">{{ s.product_name }}</option>
            {% endfor %}
          </select>
        </div>
        <!-- <div style="flex: 3">
          <select name="department" class="form-control mb-2 mb-md-0">
            <option>Select Department</option>
            <option value="All">All</option>
            {% for d in departments %}
            <option value="{{d.department_id}}">{{d.name}}</option>
            {% endfor %}
          </select>
        </div> -->
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <button class="btn btn-primary w-100" onclick="printTable()">Print Table</button>
        </div>
      </form>
    </div>

    <div class="card-body" id="printablecontent">
        <div class="card-header py-3" style="    display: flex;
        flex-direction: column;
        align-items: center;">
            <div><h2>Darbhanga Medical College and Hospital</h2></div>
            <div><h3>{{request.session.user_role}}</h3></div>
            <div><h3>Item Wise Consumption</h3></div>
            {% if start_date_str != None %}
            <div><h3>{{start_date_str}}{% if start_date_str != None %} - {{end_date_str}}{% endif %} </h3>  </div>
            {% endif %}
        </div>
      <div class="table-responsive" id="tableContainer">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Medicine Name</th>
              <th>Quantity</th>
              <th>Opening</th>
              <th>Closing</th>
            </tr>
          </thead>
          <tbody>
            {% for order in supply %}
            <tr>
              <td>{{ order.product }}</td>
              <td>{% if order.total_quantity == None %}0{% else %}{{ order.total_quantity }}{% endif %}</td>
              <td>{% if order.till_remaining == None %}0{% else %}{{ order.till_remaining }}{% endif %}</td>
              <td>{% if order.till_end == None %}0{% else %}{{ order.till_end }}{% endif %}</td>

              <!-- <td>
                <a href="/drug/supply/{{ order.supply_id }}/update/" class="btn btn-primary btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Edit</span>
                </a>
                <a href="/drug/supply/{{ order.supply_id }}/delete/" class="btn btn-danger btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                </a>
              </td> -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<!-- JavaScript for Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
  $(document).ready(function () {
    $("#product_name").select2();
  });
</script>
<script>
  // Function to print the table
  function printTable() {
    // Show the hidden print content
    // Print only the content inside the printContent div
    var printContents = $("#printablecontent").html();
    var originalContents = $("body").html();
    $("body").empty().html(printContents);

    // Trigger the print dialog
    window.print();
    $("body").html(originalContents);
    window.location.reload();
  }
</script>
{% endblock %}
