{% extends 'counter/base.html' %}
{% block css %}
<!-- CSS for Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<style>
  .dataTables_wrapper {
      position: relative;
  }
  
  .dataTables_scroll {
      overflow-x: auto;
  }
  
  .dataTables_scrollHead {
      overflow-x: auto !important;
      overflow-y: hidden;
      position: relative;
      z-index: 2;
  }
  
  .dataTables_scrollBody {
      overflow-x: auto;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar {
      height: 12px;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-thumb {
      background: #888;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  .dataTables_scrollTop {
      overflow-x: auto;
      height: 12px;
  }

  .dataTables_scrollTop::-webkit-scrollbar {
      height: 12px;
  }

  .dataTables_scrollTop::-webkit-scrollbar-thumb {
      background: #888;
  }

  .dataTables_scrollTop::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  td, th {
    font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>
    {% endfor %}
  {% endif %}
  
  <div style="display: flex"></div>
  
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form action="{% url 'medicine_supply_details_view' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>
        <div style="flex: 3">
          <select class="form-control" name="product_name" id="product_name">
            <option value="">Select Medicine Name</option>
            <option value="All">All</option>
            {% for s in productsupply %}
            <option {% if department == s.productdetails_id %}selected{% endif %} value="{{ s.productdetails_id }}">{{ s.product_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <a href="{% url 'medicine_supply_details_view_print' %}" class="btn btn-primary w-100">Print</a>
        </div>
      </form>
    </div>
    
    <div class="card-body" id="printablecontent">
      <div class="table-responsive" id="tableContainer">
        <div class="dataTables_scrollTop" id="dataTableTopScroll">
          <div style="width: 1000px;"></div> <!-- Dummy div to force scrollbar -->
        </div>
        <table class="table table-bordered" id="" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>Product Type</th>
                <th>Product Name</th>
                <th>Mfg By</th>
                <th>Mfg Date</th>
                <th>Exp Date</th>
                <th>Batch No</th>
                <th>Opening</th>
                <th>Remaining</th>
                <th>Consumption</th>
                <th>Closing</th>
                <th>Remarks</th>
                <th>Supply On Date</th>
                <th>Created Date/Time</th>
            </tr>
          </thead>
          <tbody>
            {% for product in product_quantities.values %}
            <tr>
            <td>{{ product.product_type }}</td>
              <td>{{ product.product_name }}</td>
              <td>{{ product.mfg_name }}</td>
              <td>{{ product.mfg_date }}</td>
              <td>{{ product.exp_date }}</td>
              <td>{{ product.batch_no }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.stock_quantity }}</td>
              <td>{{ product.total_consumption }}</td>
              <td>{{ product.remaining_quantity }}</td>
              <td>{{ product.remarks }}</td>
              <td>{{ product.supply_date|date:"j-m-Y" }}</td>
              <td>{{ product.created_at }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<!-- JavaScript for Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
  $(document).ready(function () {
    $("#product_name").select2();
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var tableContainer = document.getElementById('tableContainer');
    var dataTableTopScroll = document.getElementById('dataTableTopScroll');

    dataTableTopScroll.addEventListener('scroll', function() {
      tableContainer.scrollLeft = dataTableTopScroll.scrollLeft;
    });

    tableContainer.addEventListener('scroll', function() {
      dataTableTopScroll.scrollLeft = tableContainer.scrollLeft;
    });
  });

  $(document).ready(function() {
    var table = $('#dataTable').DataTable();

    // Custom search function for DataTable
    $('#dataTable_filter input').on('keyup', function() {
        var searchTerm = this.value.toUpperCase();
        table.column(0).search(searchTerm ? '^' + searchTerm : '', true, false).draw();
    });
  });
</script>
{% endblock %}
