{% extends 'counter/base.html' %} {% block css %}
<!-- CSS for Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <div style="display: flex"></div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form action="{% url 'medicine_supply_details_view_print' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>

        <div style="flex: 3">
            <select class="form-control" name="product_name" id="product_name" >
              <option value="">Select Medicine Name</option>
              <option value="All">All</option>
              {% for s in productsupply %}
              <option {% if department == s.productdetails_id %}selected{% endif %} value="{{ s.productdetails_id }}">{{ s.product_name }}</option>
              {% endfor %}
            </select>
          </div>
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <button class="btn btn-primary w-100" onclick="printTable()">Print Table</button>
        </div>
      </form>
    </div>

    <div class="card-body" id="printablecontent">
      <style>
        .table td{
          padding: 0.4rem !important;
          font-size: 0.8rem !important;
          
        }
      </style>
      <div class="card-header py-3" style="display: flex; flex-direction: column; align-items: center">
        <div><h2>Darbhanga Medical College and Hospital</h2></div>
        <div><h3>{{request.session.user_role}}</h3></div>
        <div><h3>Stock Report</h3></div>
        {% if start_date_str != None %}
        <div><h3>{{start_date_str}}</h3></div>
        {% endif %}
      </div>
      <div class="table-responsive" id="tableContainer">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Department</th>
              <th>Product Type</th>
              <th>Product Name</th>
              <th>Mfg By</th>
              <th>Mfg Date</th>
              <th>Exp Date</th>
              <th>Batch No</th>
              <th>Quantity</th>
              <th>Consumption</th>
              <th>In Stock</th>
              <th>Remarks</th>
              <th>Supply Time</th>
            </tr>
          </thead>
          <tbody>
            {% for order in supply %}
            {% for product in order.products.all %}
            <tr>
              <td>{{ order.departpment.name }}</td>

              <td>
                <p>{{ product.product_type }}</p>
              </td>
              <td>
                <p>{{ product.product_name }}</p>
              </td>
              <td>
                <p>{{ product.mfg_name }}</p>
              </td>

              <td>
                <p>{% if product.mfg_date %}{{ product.mfg_date }}{% endif %}</p>
              </td>
              <td>
                <p>{% if product.exp_date %}{{ product.exp_date }}{% endif %}</p>
              </td>

              <td>
                <p>{{ product.batch_no }}</p>
              </td>
              <td>
                <p>{{ product.quantity }}</p>
              </td>
              <td class="quantity-difference"></td>
              <td>
                <p>{{ product.stock_quantity }}</p>
              </td>
              <td>
                <p>{{ product.remarks }}</p>
              </td>
              <td>{{product.supply_date|date:"F j, Y"}}</td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
      $("#product_name").select2();
    });
  </script>
<script>
  // Function to print the table
  function printTable() {
    // Show the hidden print content
    // Print only the content inside the printContent div
    var printContents = $("#printablecontent").html();
    var originalContents = $("body").html();
    $("body").empty().html(printContents);

    // Trigger the print dialog
    window.print();
    $("body").html(originalContents);
    window.location.reload();
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get all rows in the table body
    var rows = document.querySelectorAll("tbody tr");

    // Iterate over each row
    rows.forEach(function(row) {
      // Get the cells for quantity and stock quantity
      var quantityCell = row.querySelector("td:nth-child(8)");
      var stockQuantityCell = row.querySelector("td:nth-child(10)");
      var remainingStockCell = row.querySelector(".quantity-difference");
      console.log(quantityCell, stockQuantityCell, remainingStockCell)
      // Get the values from the cells
      var quantity = parseInt(quantityCell.textContent);
      var stockQuantity = parseInt(stockQuantityCell.textContent);

      // Calculate the remaining stock (difference)
      var remainingStock = quantity - stockQuantity;

      // Update the remaining stock cell with the calculated remaining stock
      remainingStockCell.textContent = remainingStock;
    });
  });
</script>
{% endblock %}
