{% extends 'counter/base.html' %} {% block css %}
<!-- CSS for Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<style>
  .dataTables_wrapper {
      position: relative;
  }
  
  .dataTables_scroll {
      overflow-x: auto;
  }
  
  .dataTables_scrollHead {
      overflow-x: auto !important;
      overflow-y: hidden;
      position: relative;
      z-index: 2;
  }
  
  .dataTables_scrollBody {
      overflow-x: auto;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar {
      height: 12px;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-thumb {
      background: #888;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  .dataTables_scrollTop {
      overflow-x: auto;
      height: 12px;
  }

  .dataTables_scrollTop::-webkit-scrollbar {
      height: 12px;
  }

  .dataTables_scrollTop::-webkit-scrollbar-thumb {
      background: #888;
  }

  .dataTables_scrollTop::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  td, th {
    font-size: 12px;
  }
</style>
  
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <div style="display: flex"></div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form action="{% url 'medicine_supply_details_view' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>

        <div style="flex: 3">
          <select class="form-control" name="product_name" id="product_name" >
            <option value="">Select Medicine Name</option>
            <option value="All">All</option>
            {% for s in productsupply %}
            <option {% if department == s.productdetails_id %}selected{% endif %} value="{{ s.productdetails_id }}">{{ s.product_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <a href="{% url 'medicine_supply_details_view_print' %}" class="btn btn-primary w-100">Print</a>
        </div>
      </form>
   
    </div>
    <div class="card-body" id="printablecontent">
      <!-- <style>
        .table td{
          padding: 0.4rem !important;
          font-size: 0.8rem !important;
          
        }
      </style> -->
      <div class="table-responsive" id="tableContainer">
        <div class="dataTables_scrollTop" id="dataTableTopScroll">
          <div style="width: 1000px;"></div> <!-- Dummy div to force scrollbar -->
        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Department</th>
              <th>Product Type</th>
              <th>Product Name</th>
              <th>Mfg By</th>
              <th>Mfg Date</th>
              <th>Exp Date</th>
              <th>Batch No</th>
              <th>Quantity</th>
              <th>Consumption</th>
              <th>In Stock</th>
              <th>Total Stock</th>
              <th>Supply On Date</th>
              <th>Created Date/Time</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for order in supply %}
              {% for product in order.products.all %}
                  <tr>
                    <td>{{ order.departpment.name }}</td>
                    <td>{{ product.product_type }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.mfg_name }}</td>
                    <td>{% if product.mfg_date %}{{ product.mfg_date }}{% endif %}</td>
                    <td>{% if product.exp_date %}{{ product.exp_date }}{% endif %}</td>
                    <td>{{ product.batch_no }}</td>
                    <td>{{ product.quantity }}</td>
                    <td class="quantity-difference"></td>

                    <td>{{ product.stock_quantity }}</td>
                    <td></td>
                    <td>{{ order.order_date|date:"j-m-Y" }}</td>
                    <td>{{ order.created_at }}</td>
                    <td>{{ order.remarks }} </td>
                    <td>
                      {% if order.de == request.session.user_role %}
                      <a href="/medicine_store/supply/{{ order.supply_id }}/update/" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Edit</span>
                      </a>
                        <a href="/medicine_store/supply/{{ order.supply_id }}/delete/" class="btn btn-danger btn-icon-split">
                          <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                          </span>
                        </a>
                      {% endif %}
                    </td>
                  </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<!-- JavaScript for Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
  // Function to print the table
  function printTable() {
    // Show the hidden print content
    // Print only the content inside the printContent div
    var printContents = $("#printablecontent").html();
    var originalContents = $("body").html();
    $("body").empty().html(printContents);

    // Trigger the print dialog
    window.print();
    $("body").html(originalContents);
  }
</script>
<script>
  $(document).ready(function () {
    $("#product_name").select2();
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get all rows in the table body
    var rows = document.querySelectorAll("tbody tr");

    // Iterate over each row
    rows.forEach(function(row) {
      // Get the cells for quantity and stock quantity
      var quantityCell = row.querySelector("td:nth-child(8)");
      var stockQuantityCell = row.querySelector("td:nth-child(10)");
      var remainingStockCell = row.querySelector(".quantity-difference");
      console.log(quantityCell, stockQuantityCell, remainingStockCell)
      // Get the values from the cells
      var quantity = parseInt(quantityCell.textContent);
      var stockQuantity = parseInt(stockQuantityCell.textContent);

      // Calculate the remaining stock (difference)
      var remainingStock = quantity - stockQuantity;

      // Update the remaining stock cell with the calculated remaining stock
      remainingStockCell.textContent = remainingStock;
    });
  });
</script>

<script>
  // Function to sort table rows by product name alphabetically
  function sortTableByProductName() {
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById("dataTable");
    switching = true;
    // Loop until no switching has been done
    while (switching) {
      switching = false;
      rows = table.rows;
      // Loop through all table rows (except the first, which contains table headers)
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        // Get the two product names to compare
        x = rows[i].getElementsByTagName("td")[2]; // Product Name column index
        y = rows[i + 1].getElementsByTagName("td")[2]; // Product Name column index
        // Check if the two rows should switch places based on alphabetical order
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop
          shouldSwitch = true;
          break;
        }
      }
      if (shouldSwitch) {
        // Perform the switch and mark that a switch has been done
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
      }
    }
  }
  document.addEventListener("DOMContentLoaded", function() {
    sortTableByProductName();
  })
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get all rows in the table body
    var rows = document.querySelectorAll("tbody tr");

    // Object to store total stock for each product name
    var totalStock = {};

    // Iterate over each row
    rows.forEach(function(row) {
      // Get the cells for quantity, product name, and stock quantity
      var productNameCell = row.querySelector("td:nth-child(3)");
      var quantityCell = row.querySelector("td:nth-child(8)");
      var stockQuantityCell = row.querySelector("td:nth-child(10)");
      var remainingStockCell = row.querySelector(".quantity-difference");

      // Get the values from the cells
      var productName = productNameCell.textContent.trim();
      var quantity = parseInt(quantityCell.textContent);
      var stockQuantity = parseInt(stockQuantityCell.textContent);

      // Calculate the remaining stock (difference)
      var remainingStock = quantity - stockQuantity;

      // Update the remaining stock cell with the calculated remaining stock
      remainingStockCell.textContent = remainingStock;

      // Update total stock for the product name
      if (productName in totalStock) {
        totalStock[productName] += stockQuantity;
      } else {
        totalStock[productName] = stockQuantity;
      }
    });

    // Update Total Stock column
    var uniqueProducts = {}; // To keep track of processed product names
    rows.forEach(function(row) {
      var productNameCell = row.querySelector("td:nth-child(3)");
      var totalStockCell = row.querySelector("td:nth-child(11)");

      var productName = productNameCell.textContent.trim();
      if (!(productName in uniqueProducts)) {
        totalStockCell.textContent = totalStock[productName];
        uniqueProducts[productName] = true;
      } else {
        totalStockCell.textContent = ""; // Clear cell for duplicate product names
        
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var tableContainer = document.getElementById('tableContainer');
    var dataTableTopScroll = document.getElementById('dataTableTopScroll');

    dataTableTopScroll.addEventListener('scroll', function() {
      tableContainer.scrollLeft = dataTableTopScroll.scrollLeft;
    });

    tableContainer.addEventListener('scroll', function() {
      dataTableTopScroll.scrollLeft = tableContainer.scrollLeft;
    });
  });

  $(document).ready(function() {
    var table = $('#dataTable').DataTable();

    // Custom search function for DataTable
    $('#dataTable_filter input').on('keyup', function() {
        var searchTerm = this.value.toUpperCase();
        table.column(2).search(searchTerm ? '^' + searchTerm : '', true, false).draw();
    });
  });


</script>
{% endblock %}
