{% extends 'counter/base.html' %} {% block css %}
<style>
  .table td,
  .table th {
    padding: 0.25rem;
    vertical-align: top;
    font-size: 0.75rem;
    border-top: 1px solid #e3e6f0;
  }
</style>
<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
<!-- CSS for Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>
  {% endfor %} {% endif %}
  <div style="display: flex"></div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form id="filterForm" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>
        <div style="flex: 2">
          <input type="search" class="form-control mb-2 mb-md-0" id="searchpInput" placeholder="Search Reg No. or Patient Name.." />
        </div>
        <div style="flex: 2">
          <input type="search" class="form-control mb-2 mb-md-0" id="searchInput" placeholder="Search medicine name .." />
        </div>
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <a href="{% url 'supply_details_user_view_print_data' %}" class="btn btn-primary w-100">Print</a>
        </div>
      </form>
    </div>
    <div class="card-body" id="printablecontent">
      <div class="table-responsive" id="tableContainer">
        <table class="table table-bordered" id="dataTablee" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Reg No.</th>
              <th>Patient</th>
              <th>Medicine Name</th>
              <th>Mfg By</th>
              <th>Batch No</th>
              <th>Mfg Date</th>
              <th>Exp Date</th>
              <th>Quantity</th>
              <th>Stock</th>
              <th>Stock Time</th>
              <th>Created On Date/Time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<!-- JavaScript for Select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<!-- Include DataTables Buttons JS -->
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>

<script>
  $(document).ready(function () {
    // Function to save filter state to localStorage
    function saveFilterState() {
      localStorage.setItem("start_date", $("#start_date").val());
      localStorage.setItem("end_date", $("#end_date").val());
      localStorage.setItem("searchInput", $("#searchInput").val());
      localStorage.setItem("searchpInput", $("#searchpInput").val());
      localStorage.setItem("page_length", table.page.len());
      localStorage.setItem("page_number", table.page());
    }

    // Function to load filter state from localStorage
    function loadFilterState() {
      $("#start_date").val(localStorage.getItem("start_date"));
      $("#end_date").val(localStorage.getItem("end_date"));
      $("#searchInput").val(localStorage.getItem("searchInput"));
      $("#searchpInput").val(localStorage.getItem("searchpInput"));
    }

    // Load filter state when the page loads
    loadFilterState();

    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
      var searchValue = $("#searchInput").val().toLowerCase();
      if (!searchValue) {
        return true; // If no search value, show all data
      }

      // Check if any column data starts with the search value
      for (var i = 0; i < data.length; i++) {
        if (data[i].toLowerCase().startsWith(searchValue)) {
          return true;
        }
      }
      return false;
    });

    var table = $("#dataTablee").DataTable({
      processing: true,
      serverSide: true,
      ajax: {
        url: "{% url 'supply_details_user_view_data' %}",
        data: function (d) {
          d.searchValue = $("#searchInput").val();
          d.searchpValue = $("#searchpInput").val();
          d.start_date = $("#start_date").val();
          d.end_date = $("#end_date").val();
        },
      },
      columns: [
        { data: "reg_no" },
        { data: "patient" },
        { data: "medicine_name" },
        { data: "mfg_by" },
        { data: "batch" },
        { data: "mfg_date" },
        { data: "exp_date" },
        { data: "quantity" },
        { data: "stock_quantity" },
        { data: "supply_time" },
        { data: "created_on" },
        { data: "actions", orderable: false },
      ],
      paging: true, // Enable pagination
      searching: true, // Enable search feature
      lengthChange: true, // Enable page length change
      pageLength: localStorage.getItem("page_length") ? parseInt(localStorage.getItem("page_length")) : 10, // Set initial page length
      displayStart: localStorage.getItem("page_number") ? parseInt(localStorage.getItem("page_number")) * parseInt(localStorage.getItem("page_length")) : 0, // Set initial page number
    });

    $("#searchInput").on("keyup", function () {
      table.draw();
      saveFilterState();
    });

    $("#searchpInput").on("keyup", function () {
      table.draw();
      saveFilterState();
    });

    $("#filterForm").on("submit", function (e) {
      e.preventDefault();
      table.draw();
      saveFilterState();
    });

    $("#product_name").select2();

    table.on("length.dt", function (e, settings, len) {
      localStorage.setItem("page_length", len);
    });

    table.on("page.dt", function () {
      saveFilterState();
    });

    // Save filter state when navigating away from the page
    window.onbeforeunload = saveFilterState;
  });
</script>

<script>
  function printTable() {
    var printContents = $("#printablecontent").html();
    var originalContents = $("body").html();
    $("body").empty().html(printContents);
    window.print();
    $("body").html(originalContents);
  }
</script>
{% endblock %}
