{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<style>
  label {
    width: 230px;
  }
  .form-group {
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
    align-items: center;
  }
  .form-control {
    padding: ".15rem .75rem";
  }
</style>
<div class="container-fluid">
  <!-- Page Heading -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <form id="patientForm" method="POST" action="{% url 'create_serology_test' %}">
    {% csrf_token %}

    <div class="row">
      <!-- Left Column (Patient Details) -->
      <div class="col-md-4 mb-3">
        <label for="bill_no">Bill No.:</label>
        <input type="text" class="form-control" id="bill_no" value="" name="bill_no" required />
      </div>

      <div class="col-md-4 mb-3">
        <label for="regid">Reg No.:</label>
        <input type="text" class="form-control" id="regid" name="regid" disabled required />
      </div>

      <div class="col-md-4 mb-3">
        <label for="labno">Lab No :</label>
        <input type="text" id="labno" class="form-control" disabled name="labno" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="patient_name">Patient Name :</label>
        <input type="text" class="form-control" id="patient_name" name="patient_name" disabled />
      </div>

      <div class="col-md-4 mb-3">
        <label for="department">Department:</label>
        <input type="text" class="form-control" id="department" value="" name="department" disabled />
      </div>

      <div class="col-md-4 mb-3">
        <label for="doctor">Refer By :</label>
        <!-- <select type="text" id="doctor" class="form-control" name="doctor" >
            <option>Select Doctor</option>
            </select> -->
        <input type="text" class="form-control" id="doctor" value="" name="doctor" disabled />
      </div>

      <div class="col-md-4 mb-3">
        <label for="hiv">HIV :</label>
        <input type="text" class="form-control" id="hiv" value="" name="hiv" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="hcv">HCV:</label>
        <input type="text" class="form-control" id="hcv" value="" name="hcv" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="hbsag">HBSAG:</label>
        <input type="text" class="form-control" id="hbsag" value="" name="hbsag" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="dr">Doctor Signature :</label>
        <select type="text" id="dr" class="form-control" name="dr">
          <option value="">Select Doctor</option>
          <option value="santoshkumar">Dr. Santosh Kumar Sharma</option>
          <option value="knyadav">Dr. K. N. Yadav</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<!-- End of Main Content -->
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $("#bill_no").on("keypress", function (e) {
      if (e.which === 13) {
        var regid = $(this).val();
        e.preventDefault();
        if (regid) {
          $.ajax({
            url: '{% url "fetch_patient_data_details" %}',
            type: "GET",
            data: {
              regid: regid,
            },
            success: function (data) {
              console.log(data);
              // Update input fields with fetched data
              $("#patient_name").val(data.name);
              $("#regid").val(data.regid);
              $("#bill_no").val(data.bill_no);
              $("#labno").val(data.lab_no);
              $("#department").val(data.department);
              $("#doctor").val(data.referby);
              $("#patient_name").val(data.name);
              if (data.sr_report && data.sr_report.available) {
                // Redirect to another page
                window.location.href = `/pathology/update_serology_test/${data.sr_report.id}/`;
              }
            },
            error: function (xhr, status, error) {
              console.error(xhr.responseText);
              // Handle error if necessary
              $("#patient_name").val("");
              $("#regid").val("");
              $("#bill_no").val("");
              $("#labno").val("");
              $("#department").val("");
              $("#doctor").val("");
              $("#patient_name").val("");
            },
          });
        } else {
          // Clear input fields when regid is empty
          $("#patient_name").val("");
          $("#bill_no").val("");
          $("#regid").val("");
          $("#labno").val("");
          $("#department").val("");
          $("#doctor").val("");
          $("#patient_name").val("");
        }
      }
    });
  });
</script>
{% endblock %}
