{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<style>
  label {
    width: 230px;
  }
  .form-group {
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
    align-items: center;
  }
  .form-control {
    padding: ".15rem .75rem";
  }
</style>
<div class="container-fluid">
  <!-- Page Heading -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <form id="patientForm" method="POST" action="{% url 'create_test_report' %}">
    {% csrf_token %}

    <div class="row">
        <!-- Left Column (Patient Details) -->
        <div class="col-md-4 mb-3">
            <label for="regid">Reg No.:</label>
            <input type="text" class="form-control" id="regid" name="regid" required />

        </div>

        <div class="col-md-4 mb-3">
            <label for="bill_no">Bill No.:</label>
            <input type="text" class="form-control" id="bill_no" value="" name="bill_no"  disabled  required />
        </div>

        <div class="col-md-4 mb-3" >
            <label for="labno">Lab No :</label>
            <input type="text" id="labno" class="form-control"  disabled name="labno" />
        </div>

        <div class="col-md-4 mb-3">
            <label for="patient_name">Patient Name :</label>
            <input type="text" class="form-control" id="patient_name" name="patient_name" disabled  />
        </div>


        <div class="col-md-4 mb-3">
            <label for="department">Department:</label>
            <input type="text" class="form-control" id="department" value="" name="department"  disabled  />
        </div>



        <div class="col-md-4 mb-3" >
            <label for="doctor">Refer By :</label>
            <!-- <select type="text" id="doctor" class="form-control" name="doctor" >
            <option>Select Doctor</option>
            </select> -->
            <input type="text" class="form-control" id="doctor" value="" name="doctor" disabled   />

        </div>
      
        <div class="col-md-4 mb-3">
            <label for="palsma_glucose_fasting">Plasma Glucode Fasting:</label>
            <input type="text" class="form-control" id="palsma_glucose_fasting" value="" name="palsma_glucose_fasting"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="palsma_glucose_pp">Plasma Glucode PP:</label>
            <input type="text" class="form-control" id="palsma_glucose_pp" value="" name="palsma_glucose_pp"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="blood_sugar_random">Blood Sugar Random :</label>
            <input type="text" class="form-control" id="blood_sugar_random" value="" name="blood_sugar_random"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="blood_ures">Blood Urea:</label>
            <input type="text" class="form-control" id="blood_ures" value="" name="blood_ures"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="serun_creatinine">Serum Creatinine:</label>
            <input type="text" class="form-control" id="serun_creatinine" value="" name="serun_creatinine"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="serum_uric_acid">Serum Uric Acid:</label>
            <input type="text" class="form-control" id="serum_uric_acid" value="" name="serum_uric_acid"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="billirubin_total">Total Bilirubin:</label>
            <input type="text" class="form-control" id="billirubin_total" value="" name="billirubin_total"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="sgpt">SGPT:</label>
            <input type="text" class="form-control" id="sgpt" value="" name="sgpt"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="sgot">SGOT:</label>
            <input type="text" class="form-control" id="sgot" value="" name="sgot"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="total_protein">Total Protein:</label>
            <input type="text" class="form-control" id="total_protein" value="" name="total_protein"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="serum_albumin">Serum Albumin:</label>
            <input type="text" class="form-control" id="serum_albumin" value="" name="serum_albumin"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="alk_phosphatase">ALK Phosphatase:</label>
            <input type="text" class="form-control" id="alk_phosphatase" value="" name="alk_phosphatase"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="gama_gt">Gamma GT. (GGT):</label>
            <input type="text" class="form-control" id="gama_gt" value="" name="gama_gt"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="amylase">Amylase:</label>
            <input type="text" class="form-control" id="amylase" value="" name="amylase"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="hbaic">HbA1c:</label>
            <input type="text" class="form-control" id="hbaic" value="" name="hbaic"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="total_cholestrol">Total Cholesterol:</label>
            <input type="text" class="form-control" id="total_cholestrol" value="" name="total_cholestrol"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="hdl_cholestrol">HDL Cholesterol:</label>
            <input type="text" class="form-control" id="hdl_cholestrol" value="" name="hdl_cholestrol"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="ldl_cholestrol">LDL Cholesterol:</label>
            <input type="text" class="form-control" id="ldl_cholestrol" value="" name="ldl_cholestrol"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="vldl_cholestrol">VLDL Cholesterol:</label>
            <input type="text" class="form-control" id="vldl_cholestrol" value="" name="vldl_cholestrol"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="serum_trigicerides">Serum Trigicerides:</label>
            <input type="text" class="form-control" id="serum_trigicerides" value="" name="serum_trigicerides"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="serun_sodium">Serum Sodium +:</label>
            <input type="text" class="form-control" id="serun_sodium" value="" name="serun_sodium"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="serum_potasium">Serum Potasium +:</label>
            <input type="text" class="form-control" id="serum_potasium" value="" name="serum_potasium"   />
        </div>

        <div class="col-md-4 mb-3">
          <label for="serum_potasium">Serum Chloride +:</label>
          <input type="text" class="form-control" id="serum_potasium" value="" name="serum_potasium"   />
      </div>


        <div class="col-md-4 mb-3">
            <label for="serum_cloried">Serum Calcium +:</label>
            <input type="text" class="form-control" id="serum_cloried" value="" name="serum_cloried"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="aso_titer">ASO Titer:</label>
            <input type="text" class="form-control" id="aso_titer" value="" name="aso_titer"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="crp">CRP:</label>
            <input type="text" class="form-control" id="crp" value="" name="crp"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="raf_factor">RA Factor:</label>
            <input type="text" class="form-control" id="raf_factor" value="" name="raf_factor"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="lipase">LIPASE:</label>
            <input type="text" class="form-control" id="lipase" value="" name="lipase"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="esr">ESR:</label>
            <input type="text" class="form-control" id="esr" value="" name="esr"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="bt">BT:</label>
            <input type="text" class="form-control" id="bt" value="" name="bt"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="ct">CT:</label>
            <input type="text" class="form-control" id="ct" value="" name="ct"   />
        </div>

        <div class="col-md-4 mb-3">
            <label for="cbc">CBC:</label>
            <input type="text" class="form-control" id="cbc" value="" name="cbc"   />
        </div>

        <div class="col-md-4 mb-3">
          <label for="lth">LDH:</label>
          <input type="text" class="form-control" id="lth" value="" name="lth"   />
      </div>
      <div class="col-md-4 mb-3">
        <label for="other">Other:</label>
        <input type="text" class="form-control" id="other" value="" name="other"   />
    </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<!-- End of Main Content -->
{% endblock %} {% block script %}
<script></script>
<!-- <script>
  // Function to handle form submission
  function handleFormSubmission(event) {
    event.preventDefault(); // Prevent default form submission

    // Your additional logic for form validation or processing goes here

    // Select all input fields in the form
    const inputs = document.querySelectorAll("#patientForm input, #patientForm select, #patientForm textarea");

    // Flag to keep track of form validity
    let isValid = true;

    // Loop through each input field
    inputs.forEach(function (input) {
      // Check if the input field is  and does not have a value
      if (input.hasAttribute("required") && !input.value.trim()) {
        // If a  field is empty, set isValid to false
        isValid = false;
        // Highlight the empty field (you can customize this part)
        input.style.border = "1px solid red";
      } else {
        // Remove any previous highlighting
        input.style.border = "";
      }
    });

    // If the form is valid, submit it
    if (isValid) {
      document.getextementById("patientForm").submit();
    } else {
      // If the form is invalid, display an alert (you can customize this part)
      //   alert("Please fill out all  fields.");
    }
  }

  // Function to handle keyboard shortcuts
  function handleShortcut(event) {
    // if (event.ctrlKey && event.key === "s") {
    if (event.key === "F2") {
      // Ctrl + S pressed, trigger form submission
      handleFormSubmission(event);
    }
  }

  // Attach event listener for form submission
  document.getextementById("patientForm").addEventListener("submit", handleFormSubmission);

  // Attach event listener for keyboard shortcuts
  document.addEventListener("keydown", handleShortcut);
</script> -->

<script>
  $(document).ready(function () {
    $("#regid").on("input", function () {
      var regid = $(this).val();
      if (regid) {
        $.ajax({
          url: '{% url "fetch_patient_data_details" %}',
          type: "GET",
          data: {
            regid: regid,
          },
          success: function (data) {
            console.log(data)
            // Update input fields with fetched data
            $("#patient_name").val(data.name);
            $("#bill_no").val(data.bill_no);
            $("#labno").val(data.lab_no);
            $("#department").val(data.department);
            $("#doctor").val(data.referby);
            $("#patient_name").val(data.name);
            if (data.test_report && data.test_report.available) {
                // Redirect to another page
                window.location.href = `/pathology/update_test_report/${data.test_report.id}/`;
            }
          },
          error: function (xhr, status, error) {
            console.error(xhr.responseText);
            // Handle error if necessary
            $("#patient_name").val('');
            $("#bill_no").val('');
            $("#labno").val('');
            $("#department").val('');
            $("#doctor").val('');
            $("#patient_name").val('');
          },
        });
      } else {
        // Clear input fields when regid is empty
        $("#patient_name").val('');
        $("#bill_no").val('');
        $("#labno").val('');
        $("#department").val('');
        $("#doctor").val('');
        $("#patient_name").val('');
      }
    });
  });
</script>
{% endblock %}
