{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<style>
  label {
    width: 230px;
  }
  .form-group {
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
    align-items: center;
  }
  .form-control {
    padding: ".15rem .75rem";
  }
</style>
<div class="container-fluid">
  <!-- Page Heading -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <form id="patientForm" method="POST" action="{% url 'create_stool_test' %}">
    {% csrf_token %}

    <div class="row">
      <!-- Left Column (Patient Details) -->
      <div class="col-md-4 mb-3">
        <label for="bill_no">Bill No.:</label>
        <input type="text" class="form-control" id="bill_no" value="" name="bill_no" required />
      </div>

      <div class="col-md-4 mb-3">
        <label for="regid">Reg No.:</label>
        <input type="text" class="form-control" id="regid" name="regid" disabled required />
      </div>

      <div class="col-md-4 mb-3">
        <label for="labno">Lab No :</label>
        <input type="text" id="labno" class="form-control" disabled name="labno" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="patient_name">Patient Name :</label>
        <input type="text" class="form-control" id="patient_name" name="patient_name" disabled />
      </div>

      <div class="col-md-4 mb-3">
        <label for="department">Department:</label>
        <input type="text" class="form-control" id="department" value="" name="department" disabled />
      </div>

      <div class="col-md-4 mb-3">
        <label for="doctor">Refer By :</label>
        <!-- <select type="text" id="doctor" class="form-control" name="doctor" >
            <option>Select Doctor</option>
            </select> -->
        <input type="text" class="form-control" id="doctor" value="" name="doctor" disabled />
      </div>

      <div class="col-md-4 mb-3">
        <label for="colour">Colour:</label>
        <!-- <input type="text" class="form-control" id="colour" value="{{stool.colour}}" name="colour" /> -->
        <select type="text" id="colour" class="form-control" name="colour">
          <option value="">Select Colour</option>
          <option value="Brown">Brown</option>
          <option value="Yellowish">Yellowish</option>
          <option value="Blackish">Blackish</option>
          <option value="Redish">Redish</option>
        </select>
      </div>

      <div class="col-md-4 mb-3">
        <label for="odour">Odour :</label>
        <input type="text" class="form-control" id="odour" value="{{stool.odour}}" name="odour" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="consistency">Consistency:</label>
        <input type="text" class="form-control" id="consistency" value="{{stool.consistency}}" name="consistency" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="ocalt_blood">Ocalt Blood:</label>
        <input type="text" class="form-control" id="ocalt_blood" value="{{stool.ocalt_blood}}" name="ocalt_blood" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="reducing_sugar">Reducing Sugar:</label>
        <input type="text" class="form-control" id="reducing_sugar" value="{{stool.reducing_sugar}}" name="reducing_sugar" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="chemical_reaction">Chemical Reaction:</label>
        <input type="text" class="form-control" id="chemical_reaction" value="{{stool.chemical_reaction}}" name="chemical_reaction" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="ova_roundword">Ova Roundword:</label>
        <input type="text" class="form-control" id="ova_roundword" value="{{stool.ova_roundword}}" name="ova_roundword" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="ova_hookworm">Ova Hookworm:</label>
        <input type="text" class="form-control" id="ova_hookworm" value="{{stool.ova_hookworm}}" name="ova_hookworm" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="ova_threadworm">Ova Threadworm:</label>
        <input type="text" class="form-control" id="ova_threadworm" value="{{stool.ova_threadworm}}" name="ova_threadworm" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="ova_tenia">Ova Tenia:</label>
        <input type="text" class="form-control" id="ova_tenia" value="{{stool.ova_tenia}}" name="ova_tenia" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="rbc">Ova Tt:</label>
        <input type="text" class="form-control" id="ova_tt" value="{{stool.ova_tt}}" name="ova_tt" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="wbc">Eh Cyst:</label>
        <input type="text" class="form-control" id="eh_cyst" value="{{stool.eh_cyst}}" name="eh_cyst" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="ecoli_cyst">Ecoli Cyst:</label>
        <input type="text" class="form-control" id="ecoli_cyst" value="{{stool.ecoli_cyst}}" name="ecoli_cyst" />
      </div>

      <div class="col-md-4 mb-3">
        <label for="girida_lamba_cyst">Girida Lamba Cyst:</label>
        <input type="text" class="form-control" id="girida_lamba_cyst" value="{{stool.girida_lamba_cyst}}" name="girida_lamba_cyst" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="wbc">WBC:</label>
        <input type="text" class="form-control" id="wbc" value="{{stool.wbc}}" name="wbc" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="rbc">RBC:</label>
        <input type="text" class="form-control" id="rbc" value="{{stool.rbc}}" name="rbc" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="others">Others:</label>
        <input type="text" class="form-control" id="others" value="{{stool.others}}" name="others" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="dr">Doctor Signature :</label>
        <select type="text" id="dr" class="form-control" name="dr">
          <option value="">Select Doctor</option>
          <option value="santoshkumar">Dr. Santosh Kumar Sharma</option>
          <option value="knyadav">Dr. K. N. Yadav</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<!-- End of Main Content -->
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {
    $("#bill_no").on("keypress", function (e) {
      if (e.which === 13) {
        var regid = $(this).val();
        e.preventDefault();
        if (regid) {
          $.ajax({
            url: '{% url "fetch_patient_data_details" %}',
            type: "GET",
            data: {
              regid: regid,
            },
            success: function (data) {
              console.log(data);
              // Update input fields with fetched data
              $("#patient_name").val(data.name);
              $("#regid").val(data.regid);
              $("#bill_no").val(data.bill_no);
              $("#labno").val(data.lab_no);
              $("#department").val(data.department);
              $("#doctor").val(data.referby);
              $("#patient_name").val(data.name);
              if (data.stool_report && data.stool_report.available) {
                // Redirect to another page
                window.location.href = `/pathology/update_stool_test/${data.stool_report.id}/`;
              }
            },
            error: function (xhr, status, error) {
              console.error(xhr.responseText);
              // Handle error if necessary
              $("#patient_name").val("");
              $("#regid").val("");
              $("#bill_no").val("");
              $("#labno").val("");
              $("#department").val("");
              $("#doctor").val("");
              $("#patient_name").val("");
            },
          });
        } else {
          // Clear input fields when regid is empty
          $("#patient_name").val("");
          $("#bill_no").val("");
          $("#regid").val("");
          $("#labno").val("");
          $("#department").val("");
          $("#doctor").val("");
          $("#patient_name").val("");
        }
      }
    });
  });
</script>
{% endblock %}
