{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <!-- <div>Total Amount : Rs {{total_amount}} /-</div> -->
  <!-- <div style="display: flex">
    <div class="card" style="width: 15%; padding: 15px">Red Card - {{redcard}}</div>
    <div class="card" style="width: 15%; padding: 15px">RB Case - {{rbcase}}</div>
    {% for v in visittype_counts %}
    <div class="card" style="width: 15%; padding: 15px">{{v.visittype}} - {{v.total_count}}</div>
    {% endfor %}
  </div> -->
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form action="{% url 'c_test_report_view' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>
       
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
    
        <div style="flex: 1">
            <a href="{% url 'create_test_report_view_print' %}" class="btn btn-primary w-100">Print</a>
        </div>

      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
                <th>Reg No.</th>
                <th>Name</th>
                <th>Bill No.</th>
                <th>Lab No.</th>
                <th>Department</th>
                <th>Refer By</th>
                <th>RBC</th>
                <th>HGB</th>
                <th>HCT</th>
                <th>MCV</th>
                <th>MCH</th>
                <th>MCHC</th>
              <th>Date</th>
              {% if request.user.is_superuser %}
              <th>Edit</th>
              <th>Delete</th>
              {% else %}
              <th>View</th>
              {% endif %}
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Reg No.</th>
                <th>Name</th>
                <th>Bill No.</th>
                <th>Lab No.</th>
                <th>Department</th>
                <th>Refer By</th>
                <th>RBC</th>
                <th>HGB</th>
                <th>HCT</th>
                <th>MCV</th>
                <th>MCH</th>
                <th>MCHC</th>
                <th>Date</th>
              {% if request.user.is_superuser %}
              <th>Edit</th>
              <th>Delete</th>
              {% else %}
              <th>View</th>
              {% endif %}
            </tr>
          </tfoot>
          <tbody>
            {% for d in patients %}
            <tr>
              <td>{{d.reg_no.regid}}</td>
              <td>{{d.reg_no.name}}</td>
              <td>{{d.patient.bill_no}}</td>
              <td>{{d.patient.lab_no}}</td>
              <td>{{d.patient.department.name}}</td>
              <td>{{d.patient.referby.name}}</td>
              <td>{{d.rbc}}</td>
              <td>{{d.hgb}}</td>
              <td>{{d.hct}}</td>
              <td>{{d.mcv}}</td>
              <td>{{d.mch}}</td>
              <td>{{d.mchc}}</td>
              <td>{{d.created_at}}</td>
              {% if request.user.is_superuser %}
              <td>
                <a href="/pathology/update_cbc_test/{{d.id}}/" class="btn btn-primary btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Edit</span>
                </a>
              </td>
              <td>
                <a href="/pathology/delete_cbc_test/{{d.id}}/" class="btn btn-danger btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span class="text">Delete</span>
                </a>
              </td>
              {% else %}
              <td>
                <a href="/pathology/update_cbc_test/{{d.id}}/" class="btn btn-primary btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">View</span>
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %} {% endblock %}
