{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<style>
  label {
    width: 230px;
  }
  .form-group {
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
    align-items: center;
  }
  .form-control {
    padding: ".15rem .75rem";
  }
</style>
<div class="container-fluid">
  <!-- Page Heading -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <form id="patientForm" method="POST" action="{% url 'create_patient_registration' %}">
    {% csrf_token %}

    <div class="row">
        <!-- Left Column (Patient Details) -->
        <div class="col-md-4 mb-3">
          <label for="department">Department:</label>
          <select type="text" id="department" class="form-control" name="department" required style="">
              <option>Select Department</option>
              {% for d in departments %}
              <option value="{{d.department_id}}">{{d.name}}</option>
              {% endfor %}
          </select>
      </div>

        <div class="col-md-4 mb-3">

            <label for="bill_no">Bill No.:</label>
            <input type="tel" class="form-control" id="bill_no" value="{{bill_no}}" name="bill_no" disabled required />

        </div>


        <div class="col-md-4 mb-3" >
          <label for="doctor">Date :</label>
          <input type="date" id="date" value="{{ current_time_kolkata|date:'Y-m-d' }}" class="form-control" name="date" />
      </div>

      <div class="col-md-4 mb-3" >
        <label for="labno">Lab No :</label>
        <input type="text" id="labno" class="form-control" name="labno" />
    </div>

    
        <div class="col-md-4 mb-3">
            <label for="regid">Reg No.:</label>
            <input type="text" class="form-control" id="regid" name="regid" required />

        </div>



        <div class="col-md-4 mb-3">
            <label for="patient_name">Patient Name :</label>
            <input type="tel" class="form-control" id="patient_name" name="patient_name" required />
        </div>

        <div class="col-md-4 mb-3">
            <label for="gender">Gender:</label>
            <input type="text" class="form-control" id="gender" name="gender" required />
        </div>

        <div class="col-md-4 mb-3">
            <label for="age">Age:</label>
            <input type="text" class="form-control" id="age" name="age" required />
        </div>

        <div class="col-md-4 mb-3">
          <label for="mob_no">Mobile No.:</label>
          <input type="text" class="form-control" id="mob_no" name="mob_no" required />
        </div>

            

        <div class="col-md-4 mb-3" >
            <label for="doctor">Refer By :</label>
            <select type="text" id="doctor" class="form-control" name="doctor" >
            <option>Select Doctor</option>
            {% for d in doctors %}
              <option value="{{d.doctor_id}}">{{d.name}}</option>
              {% endfor %}
            </select>
        </div>
      

   

    <div class="col-md-8 mb-3" >
        <label for="test_name">Test Name :</label>
        <input type="text" id="test_name" class="form-control" name="test_name" />

      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!-- End of Main Content -->
{% endblock %} {% block script %}
<script></script>
<script>
  // $(document).ready(function () {
  //   $("#department").change(function () {
  //     var departmentId = $(this).val();
  //     $.ajax({
  //       url: '{% url "get_doctors_by_department" %}',
  //       type: "GET",
  //       data: {
  //         department_id: departmentId,
  //       },
  //       success: function (data) {
  //         console.log(data);
  //         $("#doctor").empty();
  //         $.each(data.doctors, function (index, doctor) {
  //           $("#doctor").append('<option value="' + doctor.doctor_id + '">' + doctor.name + "</option>");
  //         });
  //       },
  //     });
  //   });
  // });

  $(document).ready(function () {
    $("#redcardid").hide();
    $("#redcardtype").change(function () {
      var redcardId = $(this).val();
      console.log(redcardId)
      if (redcardId === 'select'){
        $("#redcardid").hide();
      }
      else{
        $("#redcardid").show();
      }
    });
  });


  // Function to handle form submission
  function handleFormSubmission(event) {
    event.preventDefault(); // Prevent default form submission

    // Your additional logic for form validation or processing goes here

    // Select all input fields in the form
    const inputs = document.querySelectorAll("#patientForm input, #patientForm select, #patientForm textarea");

    // Flag to keep track of form validity
    let isValid = true;

    // Loop through each input field
    inputs.forEach(function (input) {
      // Check if the input field is required and does not have a value
      if (input.hasAttribute("required") && !input.value.trim()) {
        // If a required field is empty, set isValid to false
        isValid = false;
        // Highlight the empty field (you can customize this part)
        input.style.border = "1px solid red";
      } else {
        // Remove any previous highlighting
        input.style.border = "";
      }
    });

    // If the form is valid, submit it
    if (isValid) {
      document.getElementById("patientForm").submit();
    } else {
      // If the form is invalid, display an alert (you can customize this part)
      //   alert("Please fill out all required fields.");
    }
  }

  // Function to handle keyboard shortcuts
  function handleShortcut(event) {
    // if (event.ctrlKey && event.key === "s") {
    if (event.key === "F2") {
      // Ctrl + S pressed, trigger form submission
      handleFormSubmission(event);
    }
  }

  // Attach event listener for form submission
  document.getElementById("patientForm").addEventListener("submit", handleFormSubmission);

  // Attach event listener for keyboard shortcuts
  document.addEventListener("keydown", handleShortcut);
</script>

<script>
  $(document).ready(function () {
    $("#regid").on("input", function () {
      var regid = $(this).val();
      if (regid) {
        $.ajax({
          url: '{% url "fetch_patient_data" %}',
          type: "GET",
          data: {
            regid: regid,
          },
          success: function (data) {
            // Update input fields with fetched data
            $("#patient_name").val(data.name);
            $("#gender").val(data.gender);
            $("#age").val(data.age);
            $("#mob_no").val(data.mob_no);
          },
          error: function (xhr, status, error) {
            console.error(xhr.responseText);
            // Handle error if necessary
            $("#patient_name").val('');
            $("#gender").val('');
            $("#age").val('');
            $("#mob_no").val('');
          },
        });
      } else {
        // Clear input fields when regid is empty
        $("#patient_name").val('');
        $("#gender").val('');
        $("#age").val('');
        $("#mob_no").val('');
      }
    });
  });
</script>


{% endblock %}
