{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Print Patient Details</title>
    <style>
      /* Hide URL, page number, and date in printed page */
      @media print {
        .no-print {
          display: none !important;
        }
      }
    </style>
    <style>

    </style>
  </head>
  <body>
    <div class="" id="printContent" style="width: 100%; margin-top: -10px;">

        <div class="imgcontainer" style="display: flex; align-items: center; justify-content: center; flex-direction: column; font-family: sans-serif; color: black;">
          <h2 style="margin: 2px;" >DEPARTMENT OF CLINICAL PATHOLOGY</h2>
          <h4 style="margin: 2px;" >DARBHANGA MEDICAL COLLEGE & HOSPITAL</h4>
          <h6 style="margin: 2px;" >LAHERIASARAI, DARBHANGA (BIHAR)</h6>
          <h6 style="margin: 2px;" >REPORT OF EXAMINATION OF SEROLOGY</h6>
        </div>
        <hr />
        <div style="display: flex; justify-content: space-between">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <div style="font-family: sans-serif; color: black; font-size: 1.3rem;  margin-bottom: 0.4rem !important;">
              <p>Patient Name : <strong>{% if serology.reg_no.name %}{{serology.reg_no.name}}{% endif %} </strong></p>
              <p>Refd By. : <strong>{% if serology.patient.referby.name %}{{serology.patient.referby.name}}{% endif %}</strong></p>
              <p>Bill No. : <strong>{% if serology.patient.bill_no %}{{serology.patient.bill_no}}{% endif %}</strong></p>
            </div>
            <div style="font-family: sans-serif; color: black; font-size: 1.3rem;  margin-bottom: 0.4rem !important;">
              <p>Date : <strong>{% if serology.created_at %}{{serology.created_at}}{% endif %}</strong></p>
              <p>Reg No. : <strong>{% if serology.reg_no %}{{serology.reg_no.regid}}{% endif %}</strong></p>
              <p>Lab No. : <strong>{% if serology.patient.lab_no %}{{serology.patient.lab_no}}{% endif %}</strong></p>
            </div>
          </div>
        </div>
        <hr />
        <div>
      
          <div class="table-responsive">
            <table class="table table-bordered"  width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th  style=" text-align:left;">Test</th>
                  <th style=" text-align:left;">Result</th>
                </tr>
              </thead>
              <tbody>
                {% if serology.hiv %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">HIV</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{serology.hiv}}</td>
                </tr>
                {% endif %}
                {% if serology.hcv %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">HCV</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{serology.hcv}}</td>
                </tr>
                {% endif %}
                {% if serology.hbsag %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">HBSAG</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{serology.hbsag}}</td>
                </tr>
                {% endif %}
                
              </tbody>
            </table>
          </div>
      
        </div>
      
      </div>
      

    <!-- <script>
      // Trigger print dialog when the page is loaded
      window.onload = function () {
        window.print();
        // window.location.href = "/add-patients/";
      };
    </script> -->
    <script>
      // Function to print the patient details
      function printPatientDetails() {
        window.print();

        // Check if the browser supports the `onafterprint` event
        if (window.onafterprint !== undefined) {
          // Wait for the print job to complete
          window.onafterprint = function () {
            // Redirect to the next URL
            window.location.href = "/pathology/create_serology_test/"; // Replace '/your-next-url' with the URL you want to redirect to
          };
        } else {
          // If the browser does not support `onafterprint`, redirect after a delay
          setTimeout(function () {
            window.location.href = "/pathology/create_serology_test/"; // Replace '/your-next-url' with the URL you want to redirect to
          }, 5000); // Redirect after 5 seconds
        }
      }

      // Trigger print dialog when the page is loaded
      window.onload = function () {
        printPatientDetails();
      };
    </script>
  </body>
</html>
