{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Print Patient Details</title>
    <style>
      /* Hide URL, page number, and date in printed page */
      @media print {
        .no-print {
          display: none !important;
        }
      }
    </style>
    <style>

    </style>
  </head>
  <body>
    <div class="" id="printContent" style="width: 100%; margin-top: -10px;">

        <div class="imgcontainer" style="display: flex; align-items: center; justify-content: center; flex-direction: column; font-family: sans-serif; color: black;">
          <h2 style="margin: 2px;" >DEPARTMENT OF CLINICAL PATHOLOGY</h2>
          <h4 style="margin: 2px;" >DARBHANGA MEDICAL COLLEGE & HOSPITAL</h4>
          <h6 style="margin: 2px;" >LAHERIASARAI, DARBHANGA (BIHAR)</h6>
          <h6 style="margin: 2px;" >REPORT OF EXAMINATION OF STOOL</h6>
        </div>
        <hr />
        <div style="display: flex; justify-content: space-between">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <div style="font-family: sans-serif; color: black; font-size: 1.3rem;  margin-bottom: 0.4rem !important;">
              <p>Patient Name : <strong>{% if stool.reg_no.name %}{{stool.reg_no.name}}{% endif %} </strong></p>
              <p>Refd By. : <strong>{% if stool.patient.referby.name %}{{stool.patient.referby.name}}{% endif %}</strong></p>
              <p>Bill No. : <strong>{% if stool.patient.bill_no %}{{stool.patient.bill_no}}{% endif %}</strong></p>
            </div>
            <div style="font-family: sans-serif; color: black; font-size: 1.3rem;  margin-bottom: 0.4rem !important;">
              <p>Date : <strong>{% if stool.created_at %}{{stool.created_at}}{% endif %}</strong></p>
              <p>Reg No. : <strong>{% if stool.reg_no %}{% if stool.reg_no.de == 'Pathology' %}{{stool.reg_no.regnoid}}{% else %}{{stool.reg_no.regid}}{% endif %}{% endif %}</strong></p>
              <p>Lab No. : <strong>{% if stool.patient.lab_no %}{{stool.patient.lab_no}}{% endif %}</strong></p>
            </div>
          </div>
        </div>
        <hr />
        <div>
      
          <div class="table-responsive">
            <table class="table table-bordered"  width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th style=" text-align:left;" >Test</th>
                  <th style=" text-align:left;" >Result</th>
                  <!-- <th>Normal Range</th> -->
                </tr>
              </thead>
              <tbody>
       
                {% if stool.colour %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Colour</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.colour}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">70 - 150 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if stool.odour %}
                <tr>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Odour</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.odour}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">70 - 150 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if stool.consistency %}
                <tr>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Consistency </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.consistency}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">15 - 45 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if stool.ocalt_blood %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Ocalt Blood</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.ocalt_blood}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">07 - 1.5 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if stool.reducing_sugar %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Reducing Sugar</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.reducing_sugar}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">3.5 - 7.2 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if stool.chemical_reaction %}
                <tr>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Chemical Reaction</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.chemical_reaction}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0.0 - 1.2 mg/dl</td> -->
                </tr>
                {% endif %}
                
                {% if stool.ova_roundword %}
                <tr>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">OVA Round Word</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.ova_roundword}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0.0 - 35 IU/L</td> -->
                </tr>
                {% endif %}
      
                {% if stool.ova_hookworm %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">OVA Hook Kworm</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.ova_hookworm}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0.0 - 45 IU/L</td> -->
                </tr>
                {% endif %}
      
                {% if stool.ova_threadworm %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">OVA Thread Worm</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.ova_threadworm}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">6.4 - 8.3 g/dl</td> -->
                </tr>
                {% endif %}
      
                {% if stool.ova_tenia %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">OVA Tenia</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.ova_tenia}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">3.5 - 5.2 g/dl</td> -->
                </tr>
                {% endif %}
      
                {% if stool.ova_tt %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">OVA TT</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.ova_tt}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">30 - 130 U/L</td> -->
                </tr>
                {% endif %}
      
                {% if stool.eh_cyst %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">EH Cyst </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.eh_cyst}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 55 IU/L</td> -->
                </tr>
                {% endif %}
                
                {% if stool.ecoli_cyst %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Ecoli Cyst</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.ecoli_cyst}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
                {% if stool.girida_lamba_cyst %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Girida Lamba Cyst </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.girida_lamba_cyst}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
                {% if stool.wbc %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">WBC </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.wbc}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
                {% if stool.rbc %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">RBC</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.rbc}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
      
                {% if stool.others %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Others </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{stool.others}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
      
              </tbody>
            </table>
          </div>
      
        </div>

        <div style="display: flex;justify-content: space-between; width: 100%;position: absolute; bottom: 0;" >
          <div>Checked By ..............</div>
          <div>Signature ..................................................</div>
        </div>
  
      
      </div>

    <!-- <script>
      // Trigger print dialog when the page is loaded
      window.onload = function () {
        window.print();
        // window.location.href = "/add-patients/";
      };
    </script> -->
    <script>
      // Function to print the patient details
      function printPatientDetails() {
        window.print();

        // Check if the browser supports the `onafterprint` event
        if (window.onafterprint !== undefined) {
          // Wait for the print job to complete
          window.onafterprint = function () {
            // Redirect to the next URL
            window.location.href = "/pathology/create_stool_test/"; // Replace '/your-next-url' with the URL you want to redirect to
          };
        } else {
          // If the browser does not support `onafterprint`, redirect after a delay
          setTimeout(function () {
            window.location.href = "/pathology/create_stool_test/"; // Replace '/your-next-url' with the URL you want to redirect to
          }, 5000); // Redirect after 5 seconds
        }
      }

      // Trigger print dialog when the page is loaded
      window.onload = function () {
        printPatientDetails();
      };
    </script>
  </body>
</html>
