{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Print Patient Details</title>
    <style>
      /* Hide URL, page number, and date in printed page */
      @media print {
        .no-print {
          display: none !important;
        }
      }
    </style>
    <style>

    </style>
  </head>
  <body>

    <div class="" id="printContent" style="width: 100%; margin-top: -10px;">

        <div class="imgcontainer" style="display: flex; align-items: center; justify-content: center; flex-direction: column; font-family: sans-serif; color: black;">
          <h2 style="margin: 2px;" >DEPARTMENT OF CLINICAL PATHOLOGY</h2>
          <h4 style="margin: 2px;" >DARBHANGA MEDICAL COLLEGE & HOSPITAL</h4>
          <h6 style="margin: 2px;" >LAHERIASARAI, DARBHANGA (BIHAR)</h6>
          <h6 style="margin: 2px;" >REPORT OF EXAMINATION OF URINE</h6>
        </div>
        <hr />
        <div style="display: flex; justify-content: space-between">
          <div style="display: flex; justify-content: space-between; width: 100%;">
            <div style="font-family: sans-serif; color: black; font-size: 1.3rem;  margin-bottom: 0.4rem !important;">
              <p>Patient Name : <strong>{% if urine.reg_no.name %}{{urine.reg_no.name}}{% endif %} </strong></p>
              <p>Refd By. : <strong>{% if urine.patient.referby.name %}{{urine.patient.referby.name}}{% endif %}</strong></p>
              <p>Bill No. : <strong>{% if urine.patient.bill_no %}{{urine.patient.bill_no}}{% endif %}</strong></p>
            </div>
            <div style="font-family: sans-serif; color: black; font-size: 1.3rem;  margin-bottom: 0.4rem !important;">
              <p>Date : <strong>{% if urine.created_at %}{{urine.created_at}}{% endif %}</strong></p>
              <p>Reg No. : <strong>{% if urine.reg_no %}{% if urine.reg_no.de == 'Pathology' %}{{urine.reg_no.regnoid}}{% else %}{{urine.reg_no.regid}}{% endif %}{% endif %}</strong></p>
              <p>Lab No. : <strong>{% if urine.patient.lab_no %}{{urine.patient.lab_no}}{% endif %}</strong></p>
            </div>
          </div>
        </div>
        <hr />
        <div>
      
          <div class="table-responsive">
            <table class="table table-bordered"  width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th style=" text-align:left;" >Test</th>
                  <th style=" text-align:left;" >Result</th>
                  <!-- <th>Normal Range</th> -->
                </tr>
              </thead>
              <tbody>
                {% if urine.amount %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Amount</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.amount}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">70 - 110 mg/dl</td> -->
                </tr>
                {% endif %}
                {% if urine.colour %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Colour</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.colour}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">70 - 150 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if urine.odour %}
                <tr>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Odour</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.odour}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">70 - 150 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if urine.specific_gravity %}
                <tr>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Specific Gravity</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.specific_gravity}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">15 - 45 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if urine.deposti %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Deposti</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.deposti}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">07 - 1.5 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if urine.reaction %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Reaction</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.reaction}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">3.5 - 7.2 mg/dl</td> -->
                </tr>
                {% endif %}
      
                {% if urine.sugar %}
                <tr>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Sugar</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.sugar}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0.0 - 1.2 mg/dl</td> -->
                </tr>
                {% endif %}
                
                {% if urine.albumin %}
                <tr>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Albumin</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.albumin}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0.0 - 35 IU/L</td> -->
                </tr>
                {% endif %}
      
                {% if urine.phosphate %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Phosphatae</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.phosphate}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0.0 - 45 IU/L</td> -->
                </tr>
                {% endif %}
      
                {% if urine.mucin %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Mucin</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.mucin}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">6.4 - 8.3 g/dl</td> -->
                </tr>
                {% endif %}
      
                {% if urine.bile_salt %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Bile Salt</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.bile_salt}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">3.5 - 5.2 g/dl</td> -->
                </tr>
                {% endif %}
      
                {% if urine.bile_pigment %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Bile Pigment</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.bile_pigment}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">30 - 130 U/L</td> -->
                </tr>
                {% endif %}
      
                {% if urine.urobilinogen %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Urobilinogen </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.urobilinogen}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 55 IU/L</td> -->
                </tr>
                {% endif %}
                
                {% if urine.acetone_bodies %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Acetone Bodies</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.acetone_bodies}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
                {% if urine.rbc %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">RBC </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.rbc}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
                {% if urine.wbc %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">WBC </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.wbc}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
                {% if urine.epitheilal_cell %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Epitheilal Cell</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.epitheilal_cell}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
      
                {% if urine.casts %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Casts </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.casts}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
      
                {% if urine.crystas %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Crystas</td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.crystas}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
      
                {% if urine.others %}
                <tr>
                  
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">Others </td>
                  <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">{{urine.others}}</td>
                  <!-- <td style="font-family: sans-serif; color: black; font-size: 0.8rem; padding:3px">0 - 80 U/L</td> -->
                </tr>
                {% endif %}
                
              </tbody>
            </table>
          </div>
      
        </div>
        <div style="display: flex;justify-content: space-between; width: 100%;position: absolute; bottom: 0;" >
          <div>Checked By ..............</div>
          <div>Signature ..................................................</div>
        </div>
  
      
      </div>
      

    <!-- <script>
      // Trigger print dialog when the page is loaded
      window.onload = function () {
        window.print();
        // window.location.href = "/add-patients/";
      };
    </script> -->
    <script>
      // Function to print the patient details
      function printPatientDetails() {
        window.print();

        // Check if the browser supports the `onafterprint` event
        if (window.onafterprint !== undefined) {
          // Wait for the print job to complete
          window.onafterprint = function () {
            // Redirect to the next URL
            window.location.href = "/pathology/create_urine_test/"; // Replace '/your-next-url' with the URL you want to redirect to
          };
        } else {
          // If the browser does not support `onafterprint`, redirect after a delay
          setTimeout(function () {
            window.location.href = "/pathology/create_urine_test/"; // Replace '/your-next-url' with the URL you want to redirect to
          }, 5000); // Redirect after 5 seconds
        }
      }

      // Trigger print dialog when the page is loaded
      window.onload = function () {
        printPatientDetails();
      };
    </script>
  </body>
</html>
