{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<style>
  label {
    width: 230px;
  }
  .form-group {
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
    align-items: center;
  }
  .form-control {
    padding: ".15rem .75rem";
  }
</style>


<div class="" id="printContent" style="width: 100%; margin-top: -10px; display: none;">

  <div class="imgcontainer" style="display: flex; align-items: center; justify-content: center; flex-direction: column; font-family: sans-serif; color: black; font-size: 1.8rem">
    <h2>DEPARTMENT OF CLINICAL PATHOLOGY</h2>
    <h4>DARBHANGA MEDICAL COLLEGE & HOSPITAL</h4>
    <h6>LAHERIASARAI, DARBHANGA (BIHAR)</h6>
    <h6>REPORT OF EXAMINATION OF H.S.F.</h6>
  </div>
  <hr />
  <div style="display: flex; justify-content: space-between">
    <div style="display: flex; justify-content: space-between; width: 100%;">
      <div style="font-family: sans-serif; color: black; font-size: 1.3rem;  margin-bottom: 0.4rem !important;">
        <p>Patient Name : <strong>{% if ctest.reg_no.name %}{{ctest.reg_no.name}}{% endif %} </strong></p>
        <p>Refd By. : <strong>{% if ctest.patient.referby.name %}{{ctest.patient.referby.name}}{% endif %}</strong></p>
        <p>Bill No. : <strong>{% if ctest.patient.bill_no %}{{ctest.patient.bill_no}}{% endif %}</strong></p>
      </div>
      <div style="font-family: sans-serif; color: black; font-size: 1.3rem;  margin-bottom: 0.4rem !important;">
        <p>Date : <strong>{% if ctest.created_at %}{{ctest.created_at}}{% endif %}</strong></p>
        <p>Reg No. : <strong>{% if ctest.reg_no %}{% if ctest.reg_no.de == 'Pathology' %}{{ctest.reg_no.regnoid}}{% else %}{{ctest.reg_no.regid}}{% endif %}{% endif %}</strong></p>
        <p>Lab No. : <strong>{% if ctest.patient.lab_no %}{{ctest.patient.lab_no}}{% endif %}</strong></p>
      </div>
    </div>
  </div>
  <hr />
  <div>

    <div class="table-responsive">
      <table class="table table-bordered"  width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Test</th>
            <th>Result</th>
            <!-- <th>Normal Range</th> -->
          </tr>
        </thead>
        <tbody>
          {% if ctest.volume %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Volume</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.volume}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">70 - 110 mg/dl</td> -->
          </tr>
          {% endif %}
          {% if ctest.consistency %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Consistency</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.consistency}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">70 - 150 mg/dl</td> -->
          </tr>
          {% endif %}
          {% if ctest.colour %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Colour</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.colour}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">70 - 150 mg/dl</td> -->
          </tr>
          {% endif %}
          {% if ctest.method_collection %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Mode of collection</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.method_collection}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">3.5 - 7.2 mg/dl</td> -->
          </tr>
          {% endif %}

          {% if ctest.abestinenece %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Time of collection</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.abestinenece}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">15 - 45 mg/dl</td> -->
          </tr>
          {% endif %}

          {% if ctest.time_exam %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Time of examination</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.time_exam}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">07 - 1.5 mg/dl</td> -->
          </tr>
          {% endif %}



          {% if ctest.total_count %}
          <tr>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Total Count</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.total_count}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">0.0 - 1.2 mg/dl</td> -->
          </tr>
          {% endif %}
          
          {% if ctest.active %}
          <tr>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Active</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.active}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">0.0 - 35 IU/L</td> -->
          </tr>
          {% endif %}

          {% if ctest.sluggish %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Sluggish</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.sluggish}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">0.0 - 45 IU/L</td> -->
          </tr>
          {% endif %}

          {% if ctest.non_matliz %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Non Motile</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.non_matliz}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">6.4 - 8.3 g/dl</td> -->
          </tr>
          {% endif %}

          {% if ctest.rbc %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">RBC</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.rbc}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">3.5 - 5.2 g/dl</td> -->
          </tr>
          {% endif %}

          {% if ctest.wbc %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">WBC</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.wbc}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">30 - 130 U/L</td> -->
          </tr>
          {% endif %}

          {% if ctest.epithelial_cells %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Epithelial Cells</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.epithelial_cells}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">0 - 55 IU/L</td> -->
          </tr>
          {% endif %}
          
          {% if ctest.abnormality %}
          <tr>
            
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">Abnormality</td>
            <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">{{ctest.abnormality}}</td>
            <!-- <td style="font-family: sans-serif; color: black; font-size: 1rem; padding:3px">0 - 80 U/L</td> -->
          </tr>
          {% endif %}
          
        </tbody>
      </table>
    </div>

  </div>
  <div style="display: flex;justify-content: space-between; width: 100%;position: absolute; bottom: 0;" >
    <div>Checked By ..............</div>
    <div>Signature ..................................................</div>
  </div>

</div>


<div class="container-fluid">
  <!-- Page Heading -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <form id="patientForm" method="POST" action="/pathology/update_ctest_report/{{ctest.pk}}/">
    {% csrf_token %}

    <div class="row">
        <!-- Left Column (Patient Details) -->
        <div class="col-md-4 mb-3">
            <label for="regid">Reg No.:</label>
            <input type="text" class="form-control" id="regid"  value="{{ctest.reg_no.regid}}" disabled  name="regid" required />

        </div>

        <div class="col-md-4 mb-3">
            <label for="bill_no">Bill No.:</label>
            <input type="text" class="form-control" id="bill_no"  name="bill_no"  disabled  />
        </div>

        <div class="col-md-4 mb-3" >
            <label for="labno">Lab No :</label>
            <input type="text" id="labno" class="form-control"  disabled name="labno" />
        </div>

        <div class="col-md-4 mb-3">
            <label for="patient_name">Patient Name :</label>
            <input type="text" class="form-control" id="patient_name" name="patient_name" disabled  />
        </div>


        <div class="col-md-4 mb-3">
            <label for="department">Department:</label>
            <input type="text" class="form-control" id="department"  name="department"  disabled  />
        </div>



        <div class="col-md-4 mb-3" >
            <label for="doctor">Refer By :</label>
            <!-- <select type="text" id="doctor" class="form-control" name="doctor" >
            <option>Select Doctor</option>
            </select> -->
            <input type="text" class="form-control" id="doctor" name="doctor" disabled   />

        </div>

        <div class="col-md-4 mb-3">
            <label for="volume">Volume :</label>
            <input type="text" class="form-control" id="volume" value="{{ctest.volume}}" name="volume"   />
        </div>

        <div class="col-md-4 mb-3">
          <label for="consistency">Consistency:</label>
          <input type="text" class="form-control" id="consistency" value="{{ctest.consistency}}" name="consistency"  />
      </div>
  
      <div class="col-md-4 mb-3">
          <label for="colour">Colour:</label>
          <input type="text" class="form-control" id="colour" value="{{ctest.colour}}" name="colour"  />
      </div>
<!--   
      <div class="col-md-4 mb-3">
          <label for="abestinenece">Abestinenece:</label>
          <input type="text" class="form-control" id="abestinenece" value="{{ctest.abestinenece}}" name="abestinenece"  />
      </div>
   -->
              
      <div class="col-md-4 mb-3">
        <label for="method_collection">Mode of collection:</label>
        <input type="text" class="form-control" id="method_collection" value="{{ctest.method_collection}}" name="method_collection"  />
      </div>

      <div class="col-md-4 mb-3">
          <label for="abestinenece">Time of collection:</label>
          <input type="text" class="form-control" id="abestinenece" value="{{ctest.abestinenece}}" name="abestinenece"  />
      </div>
  

              
          <div class="col-md-4 mb-3">
              <label for="time_exam">Time of examination:</label>
              <input type="text" class="form-control" id="time_exam" value="{{ctest.time_exam}}" name="time_exam"  />
          </div>

        <!-- <div class="col-md-4 mb-3">
              <label for="time_exam">Time Exam:</label>
              <input type="text" class="form-control" id="time_exam" value="{{ctest.time_exam}}" name="time_exam"  />
          </div>

            
          <div class="col-md-4 mb-3">
            <label for="method_collection">Method Collection:</label>
            <input type="text" class="form-control" id="method_collection" value="{{ctest.method_collection}}" name="method_collection"  />
        </div> -->

          
        <div class="col-md-4 mb-3">
          <label for="total_count">Total Count:</label>
          <input type="text" class="form-control" id="total_count" value="{{ctest.total_count}}" name="total_count"  />
        </div>

          
        <div class="col-md-4 mb-3">
          <label for="active">Active:</label>
          <input type="text" class="form-control" id="active" value="{{ctest.active}}" name="active"  />
        </div>

          
        <div class="col-md-4 mb-3">
          <label for="sluggish">Sluggish:</label>
          <input type="text" class="form-control" id="sluggish" value="{{ctest.sluggish}}" name="sluggish"  />
        </div>

          
        <div class="col-md-4 mb-3">
          <label for="non_matliz">Non Motile:</label>
          <input type="text" class="form-control" id="non_matliz" value="{{ctest.non_matliz}}" name="non_matliz"  />
        </div>

          
        <div class="col-md-4 mb-3">
          <label for="rbc">RBC:</label>
          <input type="text" class="form-control" id="rbc" value="{{ctest.rbc}}" name="rbc"  />
        </div>

          
        <div class="col-md-4 mb-3">
          <label for="wbc">WBC:</label>
          <input type="text" class="form-control" id="wbc" value="{{ctest.wbc}}" name="wbc"  />
        </div>

          
        <div class="col-md-4 mb-3">
          <label for="epithelial_cells">Epithelial Cells:</label>
          <input type="text" class="form-control" id="epithelial_cells" value="{{ctest.epithelial_cells}}" name="epithelial_cells"  />
        </div>

          
        <div class="col-md-4 mb-3">
          <label for="abnormality">Abnormality:</label>
          <input type="text" class="form-control" id="abnormality" value="{{ctest.abnormality}}" name="abnormality"  />
        </div>

    </div>



    <button type="submit" class="btn btn-primary">Save</button>
    <a href="#;" id="printButton" style=" display: none;" class="btn btn-primary">Print</a>

  </form>
</div>

<!-- End of Main Content -->
{% endblock %} {% block script %}
<script>
  // Function to handle showing the print button after page load
  document.addEventListener("DOMContentLoaded", function () {
    // Show the print button
    document.getElementById("printButton").style.display = "inline-block";
  });
</script>
<script>
$(document).ready(function () {
    // Function to handle printing
    $("#printButton").click(function () {
        // Show the hidden print content
        $("#printContent").show();

        // Print only the content inside the printContent div
        var printContents = $("#printContent").html();
        var originalContents = $("body").html();
        $("body").empty().html(printContents);

        // Trigger the print dialog
        window.print();

        // Restore the original page content
        $("#printContent").hide();
        $("body").html(originalContents);
        $("#printContent").hide();
    });
});
</script>
<script>
  // Function to handle form submission
  function handleFormSubmission(event) {
    event.preventDefault(); // Prevent default form submission

    // Your additional logic for form validation or processing goes here

    // Select all input fields in the form
    const inputs = document.querySelectorAll("#patientForm input, #patientForm select, #patientForm textarea");

    // Flag to keep track of form validity
    let isValid = true;

    // Loop through each input field
    inputs.forEach(function (input) {
      // Check if the input field is  and does not have a value
      if (input.hasAttribute("required") && !input.value.trim()) {
        // If a  field is empty, set isValid to false
        isValid = false;
        // Highlight the empty field (you can customize this part)
        input.style.border = "1px solid red";
      } else {
        // Remove any previous highlighting
        input.style.border = "";
      }
    });

    // If the form is valid, submit it
    if (isValid) {
      document.getextementById("patientForm").submit();
    } else {
      // If the form is invalid, display an alert (you can customize this part)
      //   alert("Please fill out all  fields.");
    }
  }

  // Function to handle keyboard shortcuts
  function handleShortcut(event) {
    // if (event.ctrlKey && event.key === "s") {
    if (event.key === "F2") {
      // Ctrl + S pressed, trigger form submission
      handleFormSubmission(event);
    }
  }

  // Attach event listener for form submission
  document.getextementById("patientForm").addEventListener("submit", handleFormSubmission);

  // Attach event listener for keyboard shortcuts
  document.addEventListener("keydown", handleShortcut);
</script>

<script>
  $(document).ready(function () {
    var regid = {{ ctest.reg_no.regid }};
    if (regid) {
    $.ajax({
        url: '{% url "fetch_patient_data_details" %}',
        type: "GET",
        data: {
        regid: regid,
        },
        success: function (data) {
        // Update input fields with fetched data
        $("#patient_name").val(data.name);
        $("#bill_no").val(data.bill_no);
        $("#labno").val(data.lab_no);
        $("#department").val(data.department);
        $("#doctor").val(data.referby);
        $("#patient_name").val(data.name);
        },
        error: function (xhr, status, error) {
        console.error(xhr.responseText);
        // Handle error if necessary
        $("#patient_name").val('');
        $("#bill_no").val('');
        $("#labno").val('');
        $("#department").val('');
        $("#doctor").val('');
        $("#patient_name").val('');
        },
    });
    } else {
        // Clear input fields when regid is empty
        $("#patient_name").val('');
        $("#bill_no").val('');
        $("#labno").val('');
        $("#department").val('');
        $("#doctor").val('');
        $("#patient_name").val('');
    }
  });
</script>


{% endblock %}
