
{% extends 'counter/base.html' %}
{% block css %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
     th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: #f2f2f2;
    }
    .reportcard {
        width: 310mm;
        height: 445mm;
        padding: 25px;
        margin: auto;
    }
</style>
{% endblock %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
{% if messages %}
{% for message in messages %}
<p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>
{% endfor %}
{% endif %}

<div class="card py-2" style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 5px; padding-right: 5px">
  <form action="{% url 'department_wise_report' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
    <div style="flex: 1">
      <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
    </div>
    <div style="">
      <span>-</span>
    </div>
    <div style="flex: 1">
      <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
    </div>
    <!-- <div style="flex: 3">
      <select name="department" class="form-control mb-2 mb-md-0">
        <option>Select Department</option>
        <option value="All">All</option>
        {% for d in departments %}
        <option value="{{ d.department_id }}">{{ d.name }}</option>
        {% endfor %}
      </select>
    </div> -->
    <div style="flex: 1">
      <button class="btn btn-primary w-100" type="submit">Filter</button>
    </div>
    <div style="flex: 1">
      <a href="#;" class="btn btn-primary" id="printButton">Print</a>
    </div>
  </form>
</div>


<div class="card shadow mb-4" id="printablecontent">
    <!-- Page Heading -->
    {% if report_data %}
    {% for report in report_data %}
    <div class="card reportcard" style="" >
        <h1 style="text-align: center;">DARBHANGA MEDICAL COLLEGE & HOSPITAL, (LAHERIASARAI,DARBHANGA)</h1>
        <h2 style="text-align: center;">{{report.main_department}}</h2>
        <h3 style="text-align: center;">DATE: {{ start_date_str }} TO {{ end_date_str }}</h3>

        <table>
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>LOCATION</th>
                    <th>TOTAL PATIENTS</th>
                    <th>Amt</th>
                    <th>TOTAL AMOUNT</th>
                    <th>UNPAID Patients</th>
                    <th>PAID</th>
                </tr>
            </thead>
            <tbody>
                    {% for r in report.date_wise_data %}
                        <tr>
                            <td>{{ r.date|date:"j-m-Y" }}</td>
                            <td>{{ report.main_department }}</td>
                            <td>{{ r.total_patients }}</td>
                            <td>5</td>
                            <td>{{ r.total_amount }}</td>
                            <td>{{ r.unpaid_patients }}</td>
                            <td>{{ r.total_paid }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><strong>Total</strong></td>
                        <td><strong>{{ report.total_patients }}</strong></td>
                        <td></td>
                        <td><strong>{{ report.total_amount }}</strong></td>
                        <td><strong>{{ report.total_patient_count_non_price }}</strong></td>
                        <td><strong>{{ report.total_patient_amount_count }}</strong></td>
                    </tr>

            </tbody>
        </table>

        <br><br><br>
        <div style="text-align: right; padding-right: 100px;">
            <p><strong>AUTHORISED</strong></p>
            <br><br>
            <p>Ramuk Kumar Chaudhary</p>
            <br><br>
            <p><strong>SIGNATURE</strong></p>
        </div>
    </div>
    {% endfor %}
    {% endif %}


</div>


</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function () {
    // Function to handle printing
    $("#printButton").click(function () {
      // Show the hidden print content
      // Print only the content inside the printContent div
      var printContents = $("#printablecontent").html();
      var originalContents = $("body").html();
      $("body").empty().html(printContents);

      // Trigger the print dialog
      window.print();
      $("body").html(originalContents);
    });
  });
</script>
{% endblock %}
