{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size:1rem;">{{ message }}</p>
  {% endfor %} {% endif %}


  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><button href="#" class="btn btn-icon-split" data-toggle="modal" data-target="#adddepartmentModal">Add Staff</button></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Lsst Name</th>
              <th>Email</th>
              <th>User Role</th>
              <th>Status</th>
              <th>Created At</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>First Name</th>
                <th>Lsst Name</th>
                <th>Email</th>
                <th>User Role</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
          </tfoot>
          <tbody>
            {% for d in users %}
            <tr>
              <td>{{d.user.first_name}}</td>
              <td>{{d.user.last_name}}</td>
              <td>{{d.user.email}}</td>
              <td>{{d.user_role}}</td>
              <td>{% if d.user.is_active == True %}<span style="background-color: green;color:white; padding: 5px; border-radius: 10px;">Active</span>{% else %}<span style="background-color: red; color:white; padding: 5px; border-radius: 10px;">Deactivate</span>{% endif %}</td>
              <td>{{d.user.date_joined}}</td>
              <td>
                <a href="#" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#adddepartmentModal_{{d.user.id}}">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Edit</span>
                </a>
                
              </td>
              <td>
                <a href="/delete-users/{{d.user.id}}" class="btn btn-danger btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span class="text">Delete</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  {% for d in users %}
  <div class="modal fade" id="adddepartmentModal_{{d.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDEpartment" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelDEpartment">Update User</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form class="user" method="POST" action="/update-users/{{d.user.id}}">
          <div class="modal-body">
            {% csrf_token %}
           
            <div class="form-group">
              <input type="text" name="first_name" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp" value="{{d.user.first_name}}" placeholder="Enter First Name..." />
            </div>
            <div class="form-group">
              <input type="text" name="last_name" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp" value="{{d.user.last_name}}" placeholder="Enter Last Name..." />
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp" value="{{d.user.email}}" placeholder="Enter Email ..." />
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp"  placeholder="Enter Password ..." />
            </div>
            <div class="form-group">
              <select name="role" value="" class="form-control ">
                <option>User Role</option>
                <option {% if d.user_role == 'Registration' %} selected {% endif %} value="Registration" >Registration</option>
                <option {% if d.user_role == 'Drug' %} selected {% endif %}  value="Drug" >Drug</option>
                <option {% if d.user_role == 'IPD' %} selected {% endif %}  value="IPD" >IPD</option>
                <option {% if d.user_role == 'Blood Bank' %} selected {% endif %}  value="Blood Bank" >Blood Bank</option>
                <option {% if d.user_role == 'Record Room' %} selected {% endif %}  value="Record Room" >Record Room</option>
                <option {% if d.user_role == 'Pathology' %} selected {% endif %}  value="Pathology" >Pathology</option>
                <option {% if d.user_role == 'Radiology' %} selected {% endif %}  value="Radiology" >Radiology</option>
                <option {% if d.user_role == 'Cardiology' %} selected {% endif %}  value="Cardiology" >Cardiology</option>
                {% for dd in departments %}
                  <option {% if d.user_role == dd.name %} selected {% endif %}value="{{dd.name}}" >{{dd.name}}</option>
                {% endfor %}
                {% for dd in sdepartments %}
                  <option {% if d.user_role == dd.name %} selected {% endif %}value="{{dd.name}}" >{{dd.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <select name="status" value="" class="form-control ">
                <option>Select Status</option>
                <option value="True" {% if d.user.is_active == True %} selected {% endif %}>Active</option>
                <option value="False" {% if d.user.is_active == False %} selected {% endif %}>Deactivate</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}


  <!-- Logout Modal-->
  <div class="modal fade" id="adddepartmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDEpartment" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelDEpartment">Add Staff</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <form class="user" method="POST" action="{% url 'users' %}">
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="first_name" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp"  placeholder="Enter First Name..." />
              </div>
              <div class="form-group">
                <input type="text" name="last_name" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp"  placeholder="Enter Last Name..." />
              </div>
              <div class="form-group">
                <input type="email" name="email" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email ..." />
              </div>
              <div class="form-group">
                <input type="password" name="password" class="form-control " id="exampleInputEmail" aria-describedby="emailHelp"  placeholder="Enter Password ..." />
              </div>
              <div class="form-group">
                <select name="role" value="" class="form-control ">
                  <option>User Role</option>
                  <option value="Registration" >Registration</option>
                  <option value="Drug" >Drug</option>
                  <option value="IPD" >IPD</option>
                  <option value="Blood Bank" >Blood Bank</option>
                  <option value="Record Room" >Record Room</option>
                  <option value="Pathology" >Pathology</option>
                  <option value="Radiology" >Radiology</option>
                  <option value="Cardiology" >Cardiology</option>
                  {% for d in departments %}
                    <option value="{{d.name}}" >{{d.name}}</option>
                  {% endfor %}
                  {% for dd in sdepartments %}
                    <option value="{{dd.name}}" >{{dd.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <select name="status" value="" class="form-control ">
                  <option>Select Status</option>
                  <option value="True" >Active</option>
                  <option value="False" >Deactivate</option>
                </select>
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit">Add Staff</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %} {% endblock %}
