{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<style>
  label {
    width: 230px;
  }
  .form-group {
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
    align-items: center;
  }
  .form-control {
    padding: ".15rem .75rem";
  }
</style>
<div class="container-fluid">
  <!-- Page Heading -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <form id="orderForm" method="POST" action="{% url 'supply-add' %}">
    {% csrf_token %}
    <h3>Supply</h3>
    <div class="row">
      <!-- Left Column (Patient Details) -->
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <label for="department">Department:</label>
          <select class="form-control" name="department_id" required>
            <option>Select Department</option>
            {% for s in department %}
            <option value="{{s.department_id}}">{{s.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="form-group">
          <label for="indent">Indent :</label>
          <input type="text" class="form-control" id="indent" name="indent" required />
        </div>
      </div>
    </div>

    <h3>Products</h3>
    <div id="productFields">
      <div class="row product-row">
        <!-- Middle Column (Product Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="product_type" id="product_type">Product Type:</label>
            <select class="form-control" name="product_type_1" required>
              <option>Select Product Type</option>
              {% for s in unique_p_types %}
              <option value="{{s}}">{{s}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Right Column (Order Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="product_name" id="product_name">Product Name:</label>
            <select class="form-control" name="product_name_1" required>
              <option>Select Product Name</option>
              {% for s in product %}
              <option value="{{s.product_type_id}}">{{s.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="mfgname">Mfg. Name:</label>
            <input type="text" class="form-control" name="mfgname_1" disabled required />
          </div>
        </div>

        <div class="col-md-4 mb-3" style="display: none;">
          <div class="form-group">
            <label for="mfgname">Product:</label>
            <input type="text" class="form-control" name="product_type_id_column_1" />
          </div>
        </div>


        <!-- Middle Column (Product Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="batchno">Batch No.:</label>
            <input type="text" class="form-control" name="batchno_1" disabled required />
          </div>
        </div>

        <!-- Right Column (Order Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="mfgdate">Mfg Date:</label>
            <input type="date" class="form-control" name="mfgdate_1" disabled required />
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="expdate">Exp. Date:</label>
            <input type="date" class="form-control" name="expdate_1" disabled required />
          </div>
        </div>

        <!-- Left Column (Patient Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" name="quantity_1" required />
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="stock_quantity">In Stock Quantity:</label>
            <input type="number" class="form-control" name="stock_quantity_1" disabled required />
          </div>
        </div>

        <!-- Right Column (Order Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" name="date_1" required />
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" id="productCount" name="product_count" value="1" />

    <div class="text-center mt-3">
      <button type="button" class="btn btn-primary" id="addProductField">Add Product</button>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<!-- End of Main Content -->
{% endblock %} {% block script %}
<script></script>
<script>
  $(document).ready(function () {
    $("#department").change(function () {
      var departmentId = $(this).val();
      $.ajax({
        url: '{% url "get_doctors_by_department" %}',
        type: "GET",
        data: {
          department_id: departmentId,
        },
        success: function (data) {
          console.log(data);
          $("#doctor").empty();
          $.each(data.doctors, function (index, doctor) {
            $("#doctor").append('<option value="' + doctor.doctor_id + '">' + doctor.name + "</option>");
          });
        },
      });
    });
  });
</script>

<script>
  // Function to add product fields dynamically
  document.getElementById("addProductField").addEventListener("click", function () {
    var productCount = parseInt($("#productCount").val());
    productCount++;
    $("#productCount").val(productCount);
    var productFields = document.getElementById("productFields");
    var productRow = document.createElement("div");
    productRow.className = "row product-row";

    var middleColumn = document.createElement("div");
    middleColumn.className = "col-md-4 mb-3";
    middleColumn.innerHTML = `
          <div class="form-group">
            <label for="product_type" id="product_type" name="product_type">Product Type:</label>
            <select class="form-control" name="product_type_${productCount}"  required>
              <option>Select Product Type</option>
                {% for s in unique_p_types %}
                  <option value="{{s}}">{{s}}</option>
                  {% endfor %}
            </select>
          </div>
        `;

    var rightColumn = document.createElement("div");
    rightColumn.className = "col-md-4 mb-3";
    rightColumn.innerHTML = `
          <div class="form-group">
            <label for="product_name" id="product_name" name="product_name">Product Name:</label>
            <select class="form-control" name="product_name_${productCount}" required>
              <option>Select Product Name</option>
              {% for s in product %}
              <option value="{{s.product_type_id}}" >{{s.name}}</option>
              {% endfor %}
            </select>
          </div>
        `;

    var mfgColumn = document.createElement("div");
    mfgColumn.className = "col-md-4 mb-3";
    mfgColumn.innerHTML = `
          <div class="form-group">
            <label for="mfgname">Mfg. By:</label>
            <input type="text" class="form-control" name="mfgname_${productCount}" disabled required />
          </div>
        `;

    var batchColumn = document.createElement("div");
    batchColumn.className = "col-md-4 mb-3";
    batchColumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Batch No.:</label>
            <input type="text" class="form-control" name="batchno_${productCount}" disabled required />
          </div>
        `;

    var mfgDateColumn = document.createElement("div");
    mfgDateColumn.className = "col-md-4 mb-3";
    mfgDateColumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Mfg Date.:</label>
            <input type="date" class="form-control" name="mfgdate_${productCount}" required />
          </div>
        `;

    var expDatecolumn = document.createElement("div");
    expDatecolumn.className = "col-md-4 mb-3";
    expDatecolumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Exp Date.:</label>
            <input type="date" class="form-control" name="expdate_${productCount}" disabled required />
          </div>
        `;

    var quantityColumn = document.createElement("div");
    quantityColumn.className = "col-md-4 mb-3";
    quantityColumn.innerHTML = `
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" class="form-control" name="quantity_${productCount}" required />
        </div>
      `;

    var amountcolumn = document.createElement("div");
    amountcolumn.className = "col-md-4 mb-3";
    amountcolumn.innerHTML = `
          <div class="form-group">
            <label for="stock_quantity">In Stock Quantity :</label>
            <input type="number" class="form-control" name="stock_quantity_${productCount}" disabled required />
          </div>
        `;

    var dateColumn = document.createElement("div");
    dateColumn.className = "col-md-4 mb-3";
    dateColumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Date.:</label>
            <input type="date" class="form-control" name="date_${productCount}" required />
          </div>
        `;

    var product_type_id_column = document.createElement("div");
    product_type_id_column.className = "col-md-4 mb-3";
    product_type_id_column.innerHTML = `
          <div class="form-group" style="display:none;">
            <label for="batchno">product_type_id_column.:</label>
            <input type="date" class="form-control" name="product_type_id_column_${productCount}" required />
          </div>
        `;

    var removeButton = document.createElement("div");
    removeButton.className = "col-md-12 mb-3";
    removeButton.innerHTML = `
          <button type="button" class="btn btn-danger remove-product">Remove Product</button>
        `;

    productRow.appendChild(middleColumn);
    productRow.appendChild(rightColumn);
    productRow.appendChild(mfgColumn);
    productRow.appendChild(batchColumn);
    productRow.appendChild(mfgDateColumn);
    productRow.appendChild(mfgDateColumn);
    productRow.appendChild(expDatecolumn);
    productRow.appendChild(quantityColumn);
    productRow.appendChild(amountcolumn);
    productRow.appendChild(dateColumn);
    productRow.appendChild(removeButton);

    productFields.appendChild(productRow);
  });

  // Function to remove product fields
  document.addEventListener("click", function (event) {
    if (event.target.classList.contains("remove-product")) {
      var productCount = parseInt($("#productCount").val());
      productCount--;
      $("#productCount").val(productCount);
      event.target.closest(".product-row").remove();
    }
  });
</script>

<script>
  $(document).ready(function () {
    // Event delegation for product type select elements
    $("#productFields").on("change", "select[name^='product_type']", function () {
      var productType = $(this).val();
      var container = $(this).closest(".product-row");
      var productNameSelect = container.find("select[name^='product_name']");

      $.ajax({
        url: '{% url "get_product_names_by_type_purchase" %}',
        type: "GET",
        data: {
          product_type: productType,
        },
        success: function (data) {
          productNameSelect.empty();
          var product_type_id_column_Input = container.find("input[name^='product_type_id_column']");
          product_type_id_column_Input.val(data.product_type_id_);
          productNameSelect.append('<option value=""> Select Product Name</option>');
          $.each(data.products, function (index, product) {
            productNameSelect.append('<option value="' + product.product_type_id + '">' + product.name + "</option>");
          });
        },
      });
    });
  });
</script>

<!-- <script>
  // Function to handle form submission
  function handleFormSubmission(event) {
    event.preventDefault(); // Prevent default form submission

    // Your additional logic for form validation or processing goes here

    // Select all input fields in the form
    const inputs = document.querySelectorAll("#patientForm input, #patientForm select, #patientForm textarea");

    // Flag to keep track of form validity
    let isValid = true;

    // Loop through each input field
    inputs.forEach(function (input) {
      // Check if the input field is required and does not have a value
      if (input.hasAttribute("required") && !input.value.trim()) {
        // If a required field is empty, set isValid to false
        isValid = false;
        // Highlight the empty field (you can customize this part)
        input.style.border = "1px solid red";
      } else {
        // Remove any previous highlighting
        input.style.border = "";
      }
    });

    // If the form is valid, submit it
    if (isValid) {
      document.getElementById("patientForm").submit();
    } else {
      // If the form is invalid, display an alert (you can customize this part)
      //   alert("Please fill out all required fields.");
    }
  }

  // Function to handle keyboard shortcuts
  function handleShortcut(event) {
    // if (event.ctrlKey && event.key === "s") {
    if (event.key === "F2") {
      // Ctrl + S pressed, trigger form submission
      handleFormSubmission(event);
    }
  }

  // Attach event listener for form submission
  document.getElementById("patientForm").addEventListener("submit", handleFormSubmission);

  // Attach event listener for keyboard shortcuts
  document.addEventListener("keydown", handleShortcut);
</script> -->

<script>
  $(document).ready(function () {
    // Event delegation for product name select elements
    $("#productFields").on("change", "select[name^='product_name']", function () {
      var productName = $(this).val();
      var container = $(this).closest(".product-row");
      var productTypeSelect = container.find("select[name^='product_type']");
      var mfgNameInput = container.find("input[name^='mfgname']");
      var batchNoInput = container.find("input[name^='batchno']");
      var mfgDateInput = container.find("input[name^='mfgdate']");
      var expDateInput = container.find("input[name^='expdate']");
      var stockQuantityInput = container.find("input[name^='stock_quantity']");

      $.ajax({
        url: '{% url "get_product_details" %}',
        type: "GET",
        data: {
          product_name: productName,
        },
        success: function (data) {
          console.log(data.product)
          mfgNameInput.val(data.product.mfg_name);
          batchNoInput.val(data.product.batch_no);
          mfgDateInput.val(data.product.mfg_date);
          expDateInput.val(data.product.exp_date);
          stockQuantityInput.val(data.product.stock_quantity);
        },
      });
    });
  });


</script>

{% endblock %}
