{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}

  <div style="display: flex"></div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form action="{% url 'expired_medicine' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="datetime-local" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="datetime-local" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>

        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <a href="{% url 'expired_medicine_print' %}" class="btn btn-primary w-100">Print</a>
        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Product Type</th>
              <th>Product Name</th>
              <th>Mfg By</th>
              <th>Mfg Date</th>
              <th>Exp Date</th>
              <th>In Stock</th>
              <th>Batch No</th>
              <th>Purchase Time</th>
            </tr>
          </thead>
          <tbody>
            {% for product in expiring_products %}

            <tr>
              <td>
                <p>{{ product.product_type }}</p>

              </td>
              <td>
                <p>{{ product.product_name }}</p>

              </td>
              <td>
                <p>{{ product.mfg_name }}</p>

              </td>

              <td>
                <p>{{ product.mfg_date }}</p>

              </td>
              <td>
                <p>{{ product.exp_date }}</p>

              </td>
              <td>
                <p>{{ product.stock_quantity }}</p>
              </td>
              <td>
                <p>{{ product.batch_no }}</p>

              </td>


              <td>
                <p>{{ product.purchase_date }}</p>
              </td>
      
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %} {% endblock %}
