{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <div style="display: flex"></div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form action="{% url 'stock_details_view_print' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <!-- <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div> -->

        <div style="flex: 1">
          <select id="quantity_filter" class="form-control mb-2 mb-md-0">
            <option value="all">Show All</option>
            <option value="more_than_0">More than 0</option>
            <option value="equal_0">Equal to 0</option>
          </select>
        </div>

        <!-- <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div> -->
        <div style="flex: 1">
          <button class="btn btn-primary w-100" onclick="printTable()">Print Table</button>
        </div>
      </form>
    </div>
    <div class="card-body" id="printablecontent">
      <div class="table-responsive">
        <table class="table table-bordered" id="" width="100%" cellspacing="0">
          <thead>
            <tr>
              <td>SL. No.</td>
              <th>Product Type</th>
              <th>Product Name</th>
              <!-- <th>Mfg By</th>
              <th>Mfg Date</th>
              <th>Exp Date</th> -->
              <th>In Stock</th>
            </tr>
          </thead>
          <tbody id="testReportTableBody">
            
            {% for product, quantity in product_quantities.items %}
            <tr>
              <td>{{ product.1 }}</td>
                <td>{{ product.0 }}</td>
                <td>{{ quantity }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  // Get all the <tr> elements within the table body
  var tableBody = document.getElementById('testReportTableBody');
  var trElements = tableBody.querySelectorAll('tr');

  // Loop through each <tr> element and add numbering
  for (var i = 0; i < trElements.length; i++) {
    // Create a new <td> element to hold the numbering
    var tdNumber = document.createElement('td');
    // tdNumber.style.fontFamily = 'sans-serif';
    // tdNumber.style.color = 'black';
    // tdNumber.style.fontSize = '1.2rem';
    // tdNumber.style.padding = '3px';
    // tdNumber.style.border = 'none';
    // Add the numbering to the <td> element
    tdNumber.textContent = i + 1 + ".";
    // Insert the <td> element as the first child of the <tr>
    trElements[i].insertBefore(tdNumber, trElements[i].firstChild);
  }

  document.getElementById('quantity_filter').addEventListener('change', function() {
    var filterValue = this.value;

    for (var i = 0; i < trElements.length; i++) {
      var totalQuantity = parseInt(trElements[i].children[2].textContent.trim(), 10);
      
      if (filterValue === 'all') {
        trElements[i].style.display = '';
      } else if (filterValue === 'more_than_0' && totalQuantity > 0) {
        trElements[i].style.display = '';
      } else if (filterValue === 'equal_0' && totalQuantity === 0) {
        trElements[i].style.display = '';
      } else {
        trElements[i].style.display = 'none';
      }
    }
  });


</script>
<script>
    $(document).ready(function() {
        $(document).keydown(function(event) {
            if (event.ctrlKey && event.key === 'p') {
                event.preventDefault();  // Prevent the default print dialog
                printTable();  // Call the custom print function
            }
        });
    });
    
  // Function to print the table
  function printTable() {
    // Show the hidden print content
    // Print only the content inside the printContent div
    var printContents = $("#printablecontent").html();
    var originalContents = $("body").html();
    $("body").empty().html(printContents);

    // Trigger the print dialog
    window.print();
    $("body").html(originalContents);
    window.location.reload();
  }
</script>
{% endblock %}
