{% extends 'counter/base.html' %} 
{% block css %} 
{% endblock %} 
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} 
  {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>
  {% endfor %} 
  {% endif %}
  <div style="display: flex"></div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form action="{% url 'stock_details_view_print' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <select id="quantity_filter" class="form-control mb-2 mb-md-0">
            <option value="all">Show All</option>
            <option value="more_than_0">More than 0</option>
            <option value="equal_0">Equal to 0</option>
          </select>
        </div>
        <div style="flex: 1">
          <input type="search" class="form-control mb-2 mb-md-0" />
        </div>
        <div style="flex: 1">
          <button class="btn btn-primary w-100" onclick="printTable()">Print</button>
        </div>
      </form>
    </div>
    <div class="card-body" id="printablecontent">
      <div class="table-responsive">
        <table class="table table-bordered" id="" width="100%" cellspacing="0">
          <thead>
            <tr>
              <td>SL. No.</td>
              <th>Product Type</th>
              <th>Product Name</th>
              <th>In Stock</th>
            </tr>
          </thead>
          <tbody id="testReportTableBody">
            {% for order in purchase %}
            {% for product in order.products.all %}
            <tr>
              <td>{{ product.product_type }}</td>
              <td>{{ product.product_name }}</td>
              <td>{{ product.stock_quantity }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
{% block script %}
<script>
  // Get all the <tr> elements within the table body
  var tableBody = document.getElementById('testReportTableBody');
  var trElements = tableBody.querySelectorAll('tr');

  document.getElementById('quantity_filter').addEventListener('change', function() {
    var filterValue = this.value;

    for (var i = 0; i < trElements.length; i++) {
      var totalQuantity = parseInt(trElements[i].children[2].textContent.trim(), 10);
      
      if (filterValue === 'all') {
        trElements[i].style.display = '';
      } else if (filterValue === 'more_than_0' && totalQuantity > 0) {
        trElements[i].style.display = '';
      } else if (filterValue === 'equal_0' && totalQuantity === 0) {
        trElements[i].style.display = '';
      } else {
        trElements[i].style.display = 'none';
      }
    }
  });

  // Create an object to store combined products
  var combinedProducts = {};

  // Loop through each <tr> element
  for (var i = 0; i < trElements.length; i++) {
    // Get product type, name, and quantity
    var productType = trElements[i].children[0].textContent.trim();
    var productName = trElements[i].children[1].textContent.trim();
    var stockQuantity = parseInt(trElements[i].children[2].textContent.trim(), 10);

    // Create a unique key for each product based on its name and quantity
    var key = productName + '|' + productType;

    // If the product exists in combinedProducts, update its quantity
    if (combinedProducts.hasOwnProperty(key)) {
      combinedProducts[key].stockQuantity += stockQuantity;
    } else {  // Otherwise, add it to combinedProducts
      combinedProducts[key] = { productType: productType, productName: productName, stockQuantity: stockQuantity };
    }
  }

  // Remove existing table rows
  tableBody.innerHTML = '';

  // Convert combinedProducts object to array and sort it alphabetically by product name
  var sortedProducts = Object.values(combinedProducts).sort((a, b) => a.productName.localeCompare(b.productName));

  // Loop through combined products and add them to the table
  var index = 1;
  sortedProducts.forEach(product => {
    var newRow = document.createElement('tr');
    newRow.innerHTML = '<td>' + index++ + '.</td><td>' + product.productType + '</td><td>' + product.productName + '</td><td>' + product.stockQuantity + '</td>';
    tableBody.appendChild(newRow);
  });

  // Function to print the table
  function printTable() {
    // Show the hidden print content
    // Print only the content inside the printContent div
    var printContents = $("#printablecontent").html();
    var originalContents = $("body").html();
    $("body").empty().html(printContents);

    // Trigger the print dialog
    window.print();
    $("body").html(originalContents);
    window.location.reload();
  }

  $(document).ready(function() {
    $(document).keydown(function(event) {
      if (event.ctrlKey && event.key === 'p') {
        event.preventDefault();  // Prevent the default print dialog
        printTable();  // Call the custom print function
      }
    });
  });

</script>
{% endblock %}
