{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<style>
  label {
    width: 230px;
  }
  .form-group {
    margin-bottom: 0.2rem;
    line-height: 0.5rem;
    align-items: center;
  }
  .form-control {
    padding: ".15rem .75rem";
  }
</style>
<div class="container-fluid">
  <!-- Page Heading -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>

  {% endfor %} {% endif %}
  <form id="orderForm" method="POST" action="/drug/supply/{{supply.supply_id}}/update/">
    {% csrf_token %}
    <h3>Supply</h3>
    <div class="row">
      <!-- Left Column (Patient Details) -->
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <label for="department">Department:</label>
          <select class="form-control" name="department_id" required>
            <option>Select Department</option>
            {% for s in department %}
            <option {% if supply.departpment.department_id == s.department_id  %} selected{% endif %} value="{{s.department_id}}">{{s.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="form-group">
          <label for="indent">Indent :</label>
          <input type="text" value="{{supply.indent}}" class="form-control" id="indent" name="indent" required />
        </div>
      </div>


        <!-- Right Column (Order Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="date">Date:</label>
            <input value="{{supply.order_date|date:'Y-m-d'}}" type="date" class="form-control" name="order_date" required />
          </div>
        </div>

    </div>

    <h3>Products</h3>
    <div id="productFields">
        {% for p in supply.products.all %}
      <div class="row product-row">
        <!-- Middle Column (Product Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="product_type" id="product_type">Product Type:</label>
            <select class="form-control" name="product_type_{{ forloop.counter }}" required>
              <option>Select Product Type</option>
              {% for s in unique_p_types %}
              <option {% if p.product.p_type == s %}selected{% endif %}  value="{{s}}">{{s}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <!-- Right Column (Order Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="product_name" id="product_name">Product Name:</label>
            <select class="form-control" name="product_name_{{ forloop.counter }}" required>
              <option>Select Product Name</option>
              {% for s in product %}
              <option {% if p.product.product_type_id == s.product_type_id %}selected{% endif %} value="{{s.product_type_id}}">{{s.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="mfgname">Mfg. Name:</label>
            <input value="{{p.mfg_name}}" type="text" class="form-control" name="mfgname_{{ forloop.counter }}" required />
          </div>
        </div>

        <div class="col-md-4 mb-3" style="display: none;">
            <div class="form-group">
              <label for="mfgname">Products Details Id:</label>
              <input value="{{p.productdetails_id}}" type="text" class="form-control" name="productdetails_id_{{ forloop.counter }}" required />
            </div>
          </div>

        <!-- Middle Column (Product Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="batch_no">Batch No.:</label>
            <input  value="{{p.batch_no}}"  type="text" class="form-control" name="batchno_{{ forloop.counter }}" required />
          </div>
        </div>

        <!-- Right Column (Order Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="mfgdate">Mfg Date:</label>
            <input value="{{p.mfg_date|date:'Y-m-d' }}" type="date" class="form-control" name="mfgdate_{{ forloop.counter }}" required />
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="expdate">Exp. Date:</label>
            <input value="{{p.exp_date|date:'Y-m-d'}}" type="date" class="form-control" name="expdate_{{ forloop.counter }}" required />
          </div>
        </div>

        <!-- Left Column (Patient Details) -->
        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="quantity">Quantity:</label>
            <input value="{{p.quantity}}" type="number" class="form-control" name="quantity_{{ forloop.counter }}" required />
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="form-group">
            <label for="stock_quantity">In Stock Quantity:</label>
            <input value="{{p.stock_quantity}}" type="number" class="form-control" name="stock_quantity_{{ forloop.counter }}" required />
          </div>
        </div>


      </div>
      {% endfor %}
    </div>

    <input type="hidden" id="productCount" name="product_count" value="{{total}}" />

    <div class="text-center mt-3">
      <button type="button" class="btn btn-primary" id="addProductField">Add Product</button>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<!-- End of Main Content -->
{% endblock %} {% block script %}

<script>
  $(document).ready(function () {
    $("#department").change(function () {
      var departmentId = $(this).val();
      $.ajax({
        url: '{% url "get_doctors_by_department" %}',
        type: "GET",
        data: {
          department_id: departmentId,
        },
        success: function (data) {
          console.log(data);
          $("#doctor").empty();
          $.each(data.doctors, function (index, doctor) {
            $("#doctor").append('<option value="' + doctor.doctor_id + '">' + doctor.name + "</option>");
          });
        },
      });
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#department").change(function () {
      var departmentId = $(this).val();
      $.ajax({
        url: '{% url "get_doctors_by_department" %}',
        type: "GET",
        data: {
          department_id: departmentId,
        },
        success: function (data) {
          console.log(data);
          $("#doctor").empty();
          $.each(data.doctors, function (index, doctor) {
            $("#doctor").append('<option value="' + doctor.doctor_id + '">' + doctor.name + "</option>");
          });
        },
      });
    });
  });
</script>

<script>
  // Function to add product fields dynamically
  document.getElementById("addProductField").addEventListener("click", function () {
    var productCount = parseInt($("#productCount").val());
    productCount++;
    $("#productCount").val(productCount);
    var productFields = document.getElementById("productFields");
    var productRow = document.createElement("div");
    productRow.className = "row product-row";

    var middleColumn = document.createElement("div");
    middleColumn.className = "col-md-4 mb-3";
    middleColumn.innerHTML = `
          <div class="form-group">
            <label for="product_type" id="product_type" name="product_type">Product Type:</label>
            <select class="form-control" name="product_type_${productCount}" required>
              <option>Select Product Type</option>
                {% for s in unique_p_types %}
                  <option value="{{s}}">{{s}}</option>
                  {% endfor %}
            </select>
          </div>
        `;

    var rightColumn = document.createElement("div");
    rightColumn.className = "col-md-4 mb-3";
    rightColumn.innerHTML = `
          <div class="form-group">
            <label for="product_name" id="product_name" name="product_name">Product Name:</label>
            <select class="form-control" name="product_name_${productCount}" required>
              <option>Select Product Name</option>
              {% for s in product %}
              <option value="{{s.product_type_id}}" >{{s.name}}</option>
              {% endfor %}
            </select>
          </div>
        `;

    var mfgColumn = document.createElement("div");
    mfgColumn.className = "col-md-4 mb-3";
    mfgColumn.innerHTML = `
          <div class="form-group">
            <label for="mfgname">Mfg. Name:</label>
            <input type="text" class="form-control" name="mfgname_${productCount}" required />
          </div>
        `;

    var batchColumn = document.createElement("div");
    batchColumn.className = "col-md-4 mb-3";
    batchColumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Batch No.:</label>
            <input type="text" class="form-control" name="batchno_${productCount}" required />
          </div>
        `;

        
    var mfgDateColumn = document.createElement("div");
    mfgDateColumn.className = "col-md-4 mb-3";
    mfgDateColumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Mfg Date.:</label>
            <input type="date" class="form-control" name="mfgdate_${productCount}" required />
          </div>
        `;

    var expDatecolumn = document.createElement("div");
    expDatecolumn.className = "col-md-4 mb-3";
    expDatecolumn.innerHTML = `
          <div class="form-group">
            <label for="batchno">Exp Date.:</label>
            <input type="date" class="form-control" name="expdate_${productCount}" required />
          </div>
        `;

    var quantityColumn = document.createElement("div");
    quantityColumn.className = "col-md-4 mb-3";
    quantityColumn.innerHTML = `
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" class="form-control" name="quantity_${productCount}" required />
        </div>
      `;

    var amountcolumn = document.createElement("div");
    amountcolumn.className = "col-md-4 mb-3";
    amountcolumn.innerHTML = `
          <div class="form-group">
            <label for="stock_quantity">In Stock Quantity :</label>
            <input type="number" class="form-control" name="stock_quantity_${productCount}" required />
          </div>
        `;


        var productsdetailsid = document.createElement("div");
    productsdetailsid.className = "col-md-4 mb-3";
    productsdetailsid.innerHTML = `
        <div class="col-md-4 mb-3" style="display: none;">
          <div class="form-group">
            <label for="mfgname">Products Details Id:</label>
            <input  type="text" class="form-control" name="productdetails_id_${productCount}" required />
          </div>
        </div>
    `;


    var removeButton = document.createElement("div");
    removeButton.className = "col-md-12 mb-3";
    removeButton.innerHTML = `
          <button type="button" class="btn btn-danger remove-product">Remove Product</button>
        `;

    productRow.appendChild(middleColumn);
    productRow.appendChild(rightColumn);
    productRow.appendChild(mfgColumn);
    productRow.appendChild(batchColumn);
    productRow.appendChild(mfgDateColumn);
    productRow.appendChild(mfgDateColumn);
    productRow.appendChild(expDatecolumn);
    productRow.appendChild(quantityColumn);
    productRow.appendChild(amountcolumn);
    productRow.appendChild(removeButton);

    productFields.appendChild(productRow);
    productRow.appendChild(productsdetailsid);

  });

  // Function to remove product fields
  document.addEventListener("click", function (event) {
    if (event.target.classList.contains("remove-product")) {
      var productCount = parseInt($("#productCount").val());
      productCount--;
      $("#productCount").val(productCount);
      event.target.closest(".product-row").remove();
    }
  });
</script>

<script>
  $(document).ready(function () {
    // Event delegation for product type select elements
    $("#productFields").on("change", "select[name^='product_type']", function () {
      var productType = $(this).val();
      var container = $(this).closest(".product-row");
      var productNameSelect = container.find("select[name^='product_name']");

      $.ajax({
        url: '{% url "get_product_names_by_type_purchase" %}',
        type: "GET",
        data: {
          product_type: productType,
        },
        success: function (data) {
          productNameSelect.empty();
          productNameSelect.append('<option value=""> Select Product Name</option>');
          $.each(data.products, function (index, product) {
            productNameSelect.append('<option value="' + product.product_type_id + '">' + product.name + "</option>");
          });
        },
      });
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Function to fetch and populate product names based on product type
    function populateProductNames(selectElement) {
      var productType = selectElement.val();
      var container = selectElement.closest(".product-row");
      var productNameSelect = container.find("select[name^='product_name']");

      // Find and log the selected option's value and text
      var selectedIndex = productNameSelect.prop('selectedIndex');
      var selectedOption = productNameSelect.find('option').eq(selectedIndex);
      var selectedValue = selectedOption.val();
      var selectedText = selectedOption.text();
      console.log("Selected value:", selectedValue);
      console.log("Selected text:", selectedText);

      $.ajax({
        url: '{% url "get_product_names_by_type_purchase" %}',
        type: "GET",
        data: {
          product_type: productType,
        },
        success: function (data) {
          productNameSelect.empty();
          productNameSelect.append('<option value="">Select Product Name</option>');
          $.each(data.products, function (index, product) {
            console.log(product.product_type_id, selectedValue)
            var option = $('<option value="' + product.product_type_id_ + '" >' + product.name + "</option>");
            if (selectedValue === product.product_type_id_) {
              console.log("#######################")
              option.prop("selected", true);
            }
            productNameSelect.append(option);
          });
       
        },
      });
    }

    // Event delegation for product type select elements
    $("#productFields").on("change", "select[name^='product_type']", function () {
      populateProductNames($(this));
    });

    // Trigger change event for all product type select elements on page load
    $("#productFields select[name^='product_type']").each(function () {
      populateProductNames($(this));
    });
  });
</script>


<script>
  $(document).ready(function () {
    // Event delegation for product name select elements
    $("#productFields").on("change", "select[name^='product_name']", function () {
      var productName = $(this).val();
      var container = $(this).closest(".product-row");
      var productTypeSelect = container.find("select[name^='product_type']");
      var mfgNameInput = container.find("input[name^='mfgname']");
      var batchNoInput = container.find("input[name^='batchno']");
      var mfgDateInput = container.find("input[name^='mfgdate']");
      var expDateInput = container.find("input[name^='expdate']");
      var stockQuantityInput = container.find("input[name^='stock_quantity']");

      $.ajax({
        url: '{% url "get_product_details" %}',
        type: "GET",
        data: {
          product_name: productName,
        },
        success: function (data) {
          console.log(data.product)
          mfgNameInput.val(data.product.mfg_name);
          batchNoInput.val(data.product.batch_no);
          mfgDateInput.val(data.product.mfg_date);
          expDateInput.val(data.product.exp_date);
          stockQuantityInput.val(data.product.stock_quantity);
        },
      });
    });
  });
</script>

{% endblock %}
