{% extends 'counter/base.html' %} {% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>
  {% endfor %} {% endif %}

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card py-2" style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 5px; padding-right: 5px">
      <form action="{% url 'show_radiology_report' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>
        <div style="flex: 2">
          <select name="department" class="form-control mb-2 mb-md-0">
            <option value="All"  >Select Department</option>
            <option value="All">All</option>
            {% for d in departments %}
            <option value="{{d.department_id}}">{{d.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div style="flex: 2">
          <select name="doctor" class="form-control mb-2 mb-md-0">
            <option value="All"  > Select Doctor</option>
            <option value="All">All</option>
            {% for d in doctors %}
            <option value="{{d.doctor_id}}">{{d.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div style="flex: 2">
         
          <select type="text" id="patient_type" class="form-control" name="patient_type" >
            <option  value="All"  >Select Patient Type</option>
            <option value="All" >All</option>
            <option value="O.P.D">O.P.D</option>
            <option value="I.P.D">I.P.D</option>
        </select>
        </div>       
         <div style="flex: 2">
          <select type="text" id="department_unit" class="form-control" name="department_unit" >
            <option value="All"  >Select Unit</option>
            <option value="All">All</option>
            <option value="USG">USG</option>
            <option value="X-Ray">X-Ray</option>
            <option value="C.T.">C.T.</option>
          </select>
        </div>
        <div style="flex: 2;" >
          <select type="text" id="sub_unit" class="form-control" name="sub_unit" >
            <option value="All">Select Sub Unit</option>
            <!-- <option value="Digital X-Ray Super Speciality Building">Digital X-Ray Super Speciality Building</option>
            <option value="Digital X-Ray Emergency">Digital X-Ray Emergency</option>
            <option value="Manual X-Ray C.C.U">Manual X-Ray C.C.U</option>
            <option value="X-Ray Pediatrics">X-Ray Pediatrics</option> -->
          </select>
        
        </div>
        <div style="flex: 2">
          <select id="plate_size" class="form-control" name="plate_size" multiple="multiple">
            <option value="All" >Select Plate Size</option>
            <option value='14"x17"'>14"x17"</option>
            <option value='12"x15"'>12"x15"</option>
            <option value='12"x12"'>12"x12"</option>
            <option value='10"x12"'>10"x12"</option>
            <option value='8"x10"'>8"x10"</option>
            <option value='6.5"x8.5"'>6.5"x8.5"</option>
            <option value='10"x14"'>10"x14"</option>
        </select>
        </div>
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <a href="{% url 'print_radiology_report' %}" class="btn btn-primary" id="printButton">Print</a>
        </div>
         <!-- <div style="flex: 2">
          <a href="#;" class="btn btn-primary" onclick="exportToExcel()">Export to Excel</a>
        </div> -->
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Reg No.</th>
              <th>Department</th>
              <th>Refer By</th>
              <th>Department Unit</th>
              <th>Investigation</th>
              <th>Patient Type</th>
              <th>Investigation Type</th>
              {% if investigation_unit != 'None' %}
              {% if investigation_unit != 'USG' %}
              <th>No. Of Plate</th>
              <th>PLate Size</th>        
              {% endif %}
              {% else %}
              <th>No. Of Plate</th>
              <th>PLate Size</th>
              {% endif %}
              <th>Created At</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Reg No.</th>
              <th>Department</th>
              <th>Refer By</th>
              <th>Department Unit</th>
              <th>Investigation</th>
              <th>Patient Type</th>
              <th>Investigation Type</th>
              {% if investigation_unit != 'None' %}
              {% if investigation_unit != 'USG' %}
              <th>No. Of Plate</th>
              <th>PLate Size</th>
              {% endif %}
              {% else %}
              <th>No. Of Plate</th>
              <th>PLate Size</th>
              {% endif %}
              <th>Created At</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </tfoot>
          <tbody>
            {% for d in radiology %}
            <tr>
              <td>{{d.patient_name}}</td>
              <td>{{d.reg_no}}</td>
              <td>{{d.department.name}}</td>
              <td>{{d.doctor.name}}</td>
              <td>{{d.investigation_unit}}</td>
              <td>{{d.investigations}}</td>
              <td  >{{d.patient_type}}</td>
              <td>{{d.investigation_type}}</td>
              {% if investigation_unit != 'None' %}
              {% if investigation_unit != 'USG' %}
              <td>{{d.no_of_plate}}</td>
              <td class="plate-size-field" >{{d.plate_size}}</td>
              {% endif %}
              {% else %}
              <td>{{d.no_of_plate}}</td>
              <td>{{d.plate_size}}</td>
              {% endif %}
              <td>{{d.add_time|date:"j-m-Y"}}</td>
              <td>
                <a href="/radiology/edit-report/{{d.radiology_id}}/" class="btn btn-primary btn-icon-split" >
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Edit</span>
                </a>
              </td>
              <td>
                <a href="/radiology/delete-report/{{d.radiology_id}}/" class="btn btn-danger btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span class="text">Delete</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %} {% block script %} 
<script>
  $(document).ready(function () {
    $("#department_unit").change(function () {
      var departmentId = $(this).val();
      var unit = $(this).val();

      $.ajax({
        url: '{% url "get_investigation_by_department" %}',
        type: "GET",
        data: {
          investigation_unit: departmentId,
        },
        success: function (data) {
          console.log(data);
          // $("#investigation").empty();
          // $.each(data.investigation, function (index, invest) {
          //   $("#investigation").append('<option value="' + invest.investigation_id + '">' + invest.name + "</option>");
          // });

          $("#sub_unit").empty();
          $.each(data.unit, function (index, t) {
            $("#sub_unit").append('<option value="' + t.sub_unit_iid + '">' + t.name + "</option>");
          });
        },
      });
    });
  });



</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var dataFields = document.querySelectorAll('.plate-size-field');
      dataFields.forEach(function(dataField) {
          // Remove the square brackets and trim whitespace
          dataField.textContent = dataField.textContent.replace(/[\[\]]/g, '').trim();
      });
  });
</script>
<script>
  $(document).ready(function() {
      $('#plate_size').select2({
          placeholder: "Select Plate Size",
          allowClear: true,
          closeOnSelect: false
      });
  });
</script>
{% endblock %}