{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>
  {% endfor %} {% endif %}

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card py-2" style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 5px; padding-right: 5px">
      <form action="{% url 'product_details_view' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="date" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="date" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>
        <!-- <div style="flex: 3">
          <select name="department" class="form-control mb-2 mb-md-0">
            <option>Select Department</option>
            <option value="All">All</option>
            {% for d in departments %}
            <option value="{{d.department_id}}">{{d.name}}</option>
            {% endfor %}
          </select>
        </div> -->
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <a href="#;" onclick="printTable()" class="btn btn-primary" id="printButton">Print</a>
        </div>
         <!-- <div style="flex: 2">
          <a href="#;" class="btn btn-primary" onclick="exportToExcel()">Export to Excel</a>
        </div> -->
      </form>
    </div>
    <div class="card-body" id="printablecontent">
        <div class="card-header py-3" style="    display: flex;
        flex-direction: column;
        align-items: center;">
            <div><h2>Darbhanga Medical College and Hospital</h2></div>
            <div><h3>{{request.session.user_role}}</h3></div>
            <div><h3>Stock Report</h3></div>
          
        </div>
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0" id="productTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
            </tr>
          </thead>

          <tbody>
            {% for d in products %}
            <tr>
              <td>{{d.product_name}}</td>
              <td>{{d.stock_quantity}} {{d.quantity_typeq}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %} 
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    mergeTableRows();
  });

  function mergeTableRows() {
    const table = document.getElementById('productTable');
    const rows = Array.from(table.querySelectorAll('tbody tr'));

    const productData = {};

    rows.forEach(row => {
      const productName = row.cells[0].textContent.trim();
      const productQuantity = parseInt(row.cells[1].textContent.trim(), 10);

      if (productData[productName]) {
        productData[productName] += productQuantity;
      } else {
        productData[productName] = productQuantity;
      }
    });

    const newTableBody = document.createElement('tbody');

    for (const [name, quantity] of Object.entries(productData)) {
      const newRow = document.createElement('tr');
      const nameCell = document.createElement('td');
      const quantityCell = document.createElement('td');

      nameCell.textContent = name;
      quantityCell.textContent = quantity;

      newRow.appendChild(nameCell);
      newRow.appendChild(quantityCell);
      newTableBody.appendChild(newRow);
    }

    table.replaceChild(newTableBody, table.querySelector('tbody'));
  }
  // Function to print the table
  function printTable() {
    // Show the hidden print content
    // Print only the content inside the printContent div
    var printContents = $("#printablecontent").html();
    var originalContents = $("body").html();
    $("body").empty().html(printContents);

    // Trigger the print dialog
    window.print();
    $("body").html(originalContents);
  }
</script>
{% endblock %}
