{% extends 'counter/base.html' %} {% block css %} {% endblock %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <!-- <h1 class="h3 mb-2 text-gray-800">Staff</h1> -->
  {% if messages %} {% for message in messages %}
  <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="width: 90%; font-size: 1rem">{{ message }}</p>
  {% endfor %} {% endif %}

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card py-2" style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 5px; padding-right: 5px">
      <form action="{% url 'product_details_view' %}" method="get" style="display: flex; flex-wrap: wrap; gap: 10px">
        <div style="flex: 1">
          <input type="datetime-local" id="start_date" class="form-control mb-2 mb-md-0" name="start_date" />
        </div>
        <div style="">
          <span>-</span>
        </div>
        <div style="flex: 1">
          <input type="datetime-local" id="end_date" class="form-control mb-2 mb-md-0" name="end_date" />
        </div>
        <!-- <div style="flex: 3">
          <select name="department" class="form-control mb-2 mb-md-0">
            <option>Select Department</option>
            <option value="All">All</option>
            {% for d in departments %}
            <option value="{{d.department_id}}">{{d.name}}</option>
            {% endfor %}
          </select>
        </div> -->
        <div style="flex: 1">
          <button class="btn btn-primary w-100" type="submit">Filter</button>
        </div>
        <div style="flex: 1">
          <a href="{% url 'supply_details_view_print' %}" class="btn btn-primary" id="printButton">Print</a>
        </div>
         <!-- <div style="flex: 2">
          <a href="#;" class="btn btn-primary" onclick="exportToExcel()">Export to Excel</a>
        </div> -->
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Department</th>
                <th>Name</th>
                <th>Company Name</th>
                <th>Quantity</th>
                <th>In Stock</th>
                <th>Created At</th>
                <!-- <th>Edit</th> -->
                <th>Delete</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Department</th>
              <th>Name</th>
              <th>Company Name</th>
              <th>Quantity</th>
              <th>In Stock</th>
              <th>Created At</th>
              <!-- <th>Edit</th> -->
              <th>Delete</th>
            </tr>
          </tfoot>
          <tbody>
            {% for d in products %}
            <tr>
              <td>{{d.sdepartment.name}}</td>
              <td>{{d.product_name}}</td>
              <td>{{d.company_name}}</td>
              <td>{{d.quantity}}</td>
              <td>{{d.stock_quantity}}</td>
              <td>{{d.created_at}}</td>
              <!-- <td>
                <a href="#" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#adddepartmentModal_{{d.suppliar_id}}">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Edit</span>
                </a>
                
              </td> -->
              <td>
                <a href="/store/delete-products/{{d.product_id}}/" class="btn btn-danger btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span class="text">Delete</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% endblock %} {% block script %} {% endblock %}
